.table-head-data{
    text-align: center;
}
table th{
    text-align:center; 
}

table tbody td{
    text-align: center;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.notification-user{

    margin-top: 25px;
    margin-bottom: 106px;

}
.panel-head{
    background-color: #DB2828 !important;
    color: #fff;
}

.panel-body {
    padding: 0px;
}

