<div class="container">
  <div class="row">
    <h3 class="text-center">FAQ</h3>
    <div class="faq-col">
      <p>For all support enquiries, please send an email to our main address stating the nature of your request.</p>
      <a href="">contact@bolenum.com</a>
      <p>Also, for listing of new coin, send a coin listing request to email address as above. For now, we only support Ethereum
        based ERC20 token standard coins. Send along the coinlogo, the source code, coin name and symbol. Standard listing
        cost is 2BTC.</p>
    </div>
  </div>
</div>