<div class="header-menu headerMargin headerMargin ">
    <div class="main">
        <!-- <div class="top_bar">
            <div class="container">
                <div class="col-md-6">
                    <ul class="topnav">
                        <li>buy btc : 4564 $ | sell btc : 4570 $</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="rightc">

                        <li> <img class="navimg" src="assets/images/settings-icons.png"> </li>
                    </ul>
                </div>
            </div>
        </div> -->
        <nav class="navbar navbar-default navbar-fixed-top ">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only header-font-family">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
                <span routerLink="/tradeNow" class="bolenumLogo" ><a  class="navbar-brand insight" >
            <img class="img-responsive logo-img" src="assets/images/bolenum.png" title="Bolenum Exchange">
            <span class="exchange-color header-font-family heading-font-size"> Bolenum </span> <span class="red header-font-family heading-font-size">Exchange</span>
                </a>
                </span>
            </div>
            <!-- Collection of nav links, forms, and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="menufont" routerLinkActive="active"><a routerLink="/dashboard">DASHBOARD</a></li>
                    <li class="menufont" routerLinkActive="active"><a routerLink="/tradeNow">TRADE NOW</a></li>
                     <li class="menufont" ><a href="https://bolenumexchange.freshdesk.com" target="_blank">SUPPORT</a></li>

                    <li class="menufont" *ngIf="token==null" routerLinkActive="active"><a routerLink="/login">LOGIN</a></li>
                    <li class="menufont" *ngIf="token==null" routerLinkActive="active"><a routerLink="/sign-up">SIGNUP</a></li>
                    <li class="dropdown menufont">
                        <a class="dropdown-toggle menufont" data-toggle="dropdown">{{fullName}}  <img [src]="profilePic" style="width: 47px;height: 47px;border-radius: 25px; margin-left:6px;"><img src="/assets/images/drop.png" class="drop-icon"></a>
                        <ul class="dropdown-menu">
                            <li class="drop-down-font-size"><a routerLink="/wallet"><img src="assets/images/wallet.png" class="img-profile-icon">wallet</a></li>
                             <li class="divider"></li>
                            <li class="drop-down-font-size"><a routerLink="/profile"> <img src="assets/images/profile (1).png" class="img-profile-icon">Profile</a></li>
                             <li class="divider"></li>
                            <li class="drop-down-font-size"><a href="#" (click)="signOut()"><img src="assets/images/logout.png" class="img-profile-icon">Logout</a></li>
                        </ul>
                    </li>
                    <li class="menufont bellmenu" ><a routerLink="/notify" ><img src="./assets/images/notifythree.png" class="bell-icon" title="Notification"></a></li>
                </ul>
            </div>

        </nav>
    </div>
</div>
