.heading-font-size {
    font-size: 20px;
}

.heading-sub-menu {
    font-size: 11px;
}

.drop-down-font-size {
    font-size: 14px;
    text-transform: capitalize;
}

.bellmenu a {
    padding-right: 0;
}

.header-menu .navbar-default {
    border: none;
    border-radius: 0;
    line-height: 34px;
    background-color: #f8f8f8;
}

.headerMargin {
    margin-bottom: 60px;
}

.pointer-icon{
    cursor: pointer;
}

.count-underscore{
    text-decoration: none;
}

.logo-img {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
    margin: 10px 0;
    float: left;
}

.drop-down-height {
    height: 67px;
}

.more-drop-down {
    border: none;
    background: #f8f8f8;
    text-transform: capitalize;
}

.more-dropDown-menu {
    margin-top: 13px;
    background-color: white;
    color: gray;
    border: 0px;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 154px;
    z-index: 1;
}

.padding-dropdown {
    padding-top: 7px;
}

.insight {
    margin-left: 20 !important;
    float: none;
    vertical-align: middle;
    line-height: 57px;
    color: #fff;
}

.top_bar {
    min-height: 20px;
    background: #DB2828;
}

.topnav {
    list-style-type: none;
    margin-bottom: 0px;
    float: left;
    padding: 0px;
    margin-left: 0px;
}

.topnav li {
    float: left;
    padding: 7px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.topnav li a {
    padding: 0 10px;
    line-height: 40px;
    color: #FFF;
}

.rightc {
    list-style-type: none;
    margin-bottom: 0px;
    float: right;
}

.rightc li {
    margin: 0px -7px;
    float: left;
    line-height: 40px;
    color: #FFF;
}

.rightc li a {
    color: #FFF;
}

.navbar-brand img {
    margin-top: 8px;
    margin-left: 35px;
}

.nav li>a {
    position: relative;
    display: block;
    padding: -6px 35px;
    cursor: pointer;
}

.navbar-brand {
    padding: 0px;
}

.header_image {
    margin-top: -70px;
    float: left;
}

.nav.navbar-nav.navbar-right span {}

.navbar-right li a {}

.navbar-default .navbar-brand {
    color: #DB2828;
    ;
}

.navbar-header {
    margin-top: -10px;
}

.header-menu .navbar-default {
    background: #f8f8f8;
    border: none;
    border-radius: 0;
    line-height: 34px;
    height: 60px;
    padding: 12px 67px;
}

span.exchange-color {
    color: #DB2828;
    margin-left: 2px;
}

.header-menu .navbar-default .navbar-nav>.open>a {
    background: #f8f8f8;
    color: #000;
}

.navbar-default .navbar-brand {
    color: #1d1c1c;
}

.nav>li>a {
    position: relative;
    display: block;
    text-transform: uppercase;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #333;
    background: none !important;
}

.navbar-toggle {
    margin-right: -44px;
}

.nav li.active a:after {
    content: "";
    background: #bdb4b4;
    /* padding: 2px; */
    width: 45px;
    height: 2px;
    margin: 1px auto;
    text-align: center;
    display: block;
    border-radius: 5px;
}

a .bell {
    color: #777;
    text-decoration: none;
}



.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #f8f8f8;
    border-color: #bdb4b4;
}

.dropdown-menu {
    background-color: white;
    color: gray;
    border: 0px;
    border-radius: 2px;
    padding-top: 7px;
    padding-bottom: 9px;
    min-width: 201px;
    z-index: 1;
}

.transition-effect-dropdown{
   -webkit-animation: fadeInScale 2s ease-in-out;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu>li>a {
    background-color: #FFFFFF;
    color: gray;
}

.notification-text{
     font-size: 11px;
    line-height: 16px;
     cursor: pointer;
}

p .notify{
        margin: 0 0 0px;   
}

.seeall-Notification-border-top{
        border-top: 1px solid #c8baba;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #FFFFFF;
    color: gray;
}

.header-menu .navbar-collapse {
    float: right;
    padding: 0;
    margin-top: -8px;
}

.header-menu .navbar.navbar-default {
    margin-bottom: 0;
    box-shadow: 2px 1px 7px #eee;
}

.drop-active {
    color: #DB2828 !important;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
    background: #DB2828 !important;
}

li.dropdown {
    margin-top: -12px;
    text-transform: uppercase;
}

img.drop-icon {
    width: 20px;
    padding-left: 8px;
}

img.img-profile-icon {
    width: 59px;
    padding: 2px 20px;
    margin-left: -15px;
}


/* start media query */

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header-menu .navbar-default .navbar-collapse {
        box-shadow: none;
        margin: 0px;
        width: 100%;
        background-color: #f8f8f8;
    }
    .dropdown-menu .divider {
        margin: 0px;
    }
    .header-menu .navbar-default .navbar-nav>.open>a {
        background: none;
        color: #777;
    }
    .dropdown-menu>li>a {
        background-color: transparent;
        color: #777;
    }
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
        background-color: transparent;
        color: #777;
    }
    .navbar-toggle {
        margin-right: 10px;
        margin-top: -2px;
    }
    .navbar-header {
        margin-top: 0px !important;
    }
    .header-menu {
        overflow-x: auto;
        background-color: #
    }
    .header-menu .navbar {
        margin-bottom: 0;
    }
    .navbar-brand img {
        margin-top: -5px;
    }
    span.red {
        display: none;
    }
    span.exchange-color {
        display: none;
    }
    .dropdown-menu {
        padding-top: 7px;
        padding-bottom: 7px;
        min-width: 0px;
        z-index: 1;
    }
    .nav li.active a:after {
        content: "";
        background: #DB2828;
        padding: 2px;
        width: 80px;
        height: 5px;
        margin-left: 0px;
        text-align: center;
        display: block;
        border-radius: 4px;
    }
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: #DB2828;
        ;
    }
    a.navbar-brand.insight span.exchange-color {
        margin-top: -52px;
        margin-left: -17px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff !important;
    }
    .logo-img {
        display: inline-block;
        width: 42px;
        vertical-align: middle;
        float: left;
    }
    .topnav li {
        float: left;
        padding: 0px;
    }
    .navbar-nav {
        margin: 0px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header-menu {}
    .navbar-nav {
        float: none;
        ;
        margin: 0;
        margin-top: 2px;
    }
    .navbar-default .navbar-brand {}
    .nav>li>a {
        position: relative;
        display: block;
        padding: 13px 6px;
    }
    span.exchange-color {}
    .navbar-brand img {
        margin-top: 5px;
    }
}

.navBarPadding {
    padding-right: 20px !important;
}

.bolenumLogo {
    outline: 0;
    cursor: pointer;
}

.bell-icon {
    width: 50px;
    padding: 0px 18px;
    margin-left: -21px;
    margin-right: 35px;
}

.header-menu .navbar.navbar-default {
    padding-left: 0px;
    padding-right: 0px;
}





/* for test only */


/* msg center */

.notificatiion-popup{
        list-style: none;
    margin-right: 35px;
    margin-top: 8px;
    outline: 0;
}

.notification-Bage{
        background-color: #DB2828;
    color: #fff;
    border-radius: 11px;
    padding: 5px;
    font-size: 10px;
}

.border-notification{
    border-top: 1px solid #c8baba;
    /* border-bottom: 1px solid #c8baba; */
}

.notification-padding{
        padding-left: 8px;
        color: #6e6e6e;
        font-size: 12px;
}

.see-more-notification{
    color: #6e6e6e;
        font-size: 12px;
}

.notification-scroll{
    overflow-y: scroll;
    max-height: 320px;
}

strong{
    font-weight: 100;
}
.notification-text-font{
    font-size: 11px;
}

.top-dropdown-menu {
  width: 315px;
    left: auto;
    right: 16px;
    top: 55px;
  @include scrollbars(.4em, rgba(0,0,0,0.5), #fff);
  .header {
    padding: 10px 12px;
    border-bottom: 1px solid $default;
    font-size: 12px;
    strong {
      float: left;
      color: $dropdown-text;
    }
    & > a {
      float: right;
      margin-left: 12px;
      text-decoration: none;
      &:hover {
        color: $dropdown-text;
      }
    }
  }
  .msg-list {
    max-height: 296px;
    overflow: scroll;
    overflow-x: hidden;
    & > a {
      border-top: 1px solid $default;
      padding: 10px 12px;
      display: block;
      text-decoration: none;
      color: $dropdown-text;
      font-size: 12px;
      &:first-child {
        border-top: none;
      }
      .img-area {
        float: left;
        width: 36px;
        img {
          width: 36px;
          height: 36px;
          &.photo-msg-item{
            border-radius: 18px;
          }
        }
        & > div {
          width: 36px;
          height: 36px;
          border-radius: 4px;
          font-size: 24px;
          text-align: center;
          &.comments {
            color: $warning;
          }
          &.orders {
            color: $warning;
          }
          i {
            width: 36px;
            line-height: 36px;
          }
        }
      }
      .msg-area {
        float: right;
        width: 230px;
        div {
          max-height: 34px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        span {
          font-style: italic;
          text-align: right;
          display: block;
          font-size: 11px;
        }
      }
      &:hover {
        background: #E2F0FF;
      }
    }
  }
  & > a {
    border-top: 1px solid $default;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
    &:hover {
      color: $dropdown-text;
    }
  }

  &.profile-dropdown {
    width: 145px;
    top: 55px;
    right: -25px;
    a {
      text-align: left;
      border: none;
      text-decoration: none;
      color: $dropdown-text;
      padding: 4px 16px 4px 20px;
      &.signout {
        border-top: 1px solid $default;
      }
      i {
        margin-right: 10px;
      }
      &:hover {
        background: #f4fcff;
      }
    }
    i.dropdown-arr {
      right: 25px;
    }
  }

  i.dropdown-arr {
    position: absolute;
    top: -22px;
    right: 42px;
    display: block;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .15);
    &:after {
      top: -9px;
      left: 0px;
      margin-left: -10px;
      content: " ";
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom-color: $default;
    }
  }
}




/* for test only */