
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-xs-12 footer-col">
        <div class="logofooter"> <img src="assets/images/bolenum.png"><h3 class="text-center">Bolenum</h3></div>
        <p class="footer-text">A block chain compony</p>
        <p> it is a long established fact that a reader will be distracted by the readable content.</p>
        <p><i class="fa fa-map-marker"></i>18 floor 82 street Tailsoli town,Tailwan</p>
        <p><i class="fa fa-phone"></i>011-45165136,454164611</p>
       
    </div>
      <div class="col-lg-4 col-xs-12 footer-col">
        <h6 class="heading7">Explorer</h6>
        <ul class="footer-ul">
          <li><a href="#"><i class=" fa fa-caret-right"></i>Trading</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i>Wallet</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i>My orders</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i>Setting</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i>Setting</a></li>
        </ul>
      <ul class="footer-ul">
         <li><a href="#"><i class="fa fa-chevron-right"></i>Trading</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i>Wallet</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i>My orders</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i>Setting</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i>Setting</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12 footer-col">
        <h6 class="heading7">Newsletter</h6>
        <p>Get latest update and offer</p>
          
           <div class="form">
               

                <div class="form-group">
                               
                                <div class="input-group">
                                 
                                  <input class="form-control" placeholder="Email address." type="text">
                                   <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Search !</button>
                                  </span>
                                </div>
                              </div>
             <p class="text-footer"> We bolenum we believe at user's privacy We never share span in mail </p>
          </div>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>Copyrights@bolenum2017-2026 All Rights reserved </p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">prabuuideveloper.com</a></li>
       
      </ul>
    </div>
  </div>
</div>