<footer>
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-xs-12  col-sm-4 footer-col">
            <div class="logofooter heading-fontSze-fontFamily">
               <img src="assets/images/logo_footer.png">
               <h3 class="text-center">Bolenum</h3>
            </div>
            <p class="footer-texthead subHeading-fontSze-fontFamily">A blockchain company</p>
            <!--<p class="footer-text"> It is a long established fact that a reader ill be distracted by the readable content.</p>-->
            <!-- <p class="content-fontSze-fontFamily "><img src="assets/images/location_black.png">   Temple & Agendas Limted, Skyebank House, Lekki Admiralty Way, Lekki Phase 1,  Lekki, Lagos, Nigeria </p>
            <p class="content-fontSze-fontFamily " ><img src="assets/images/call.png">   011-45165136,  454164611</p> -->
            <p class="content-fontSze-fontFamily " ><img src="assets/images/mail.png">   Contact@bolenum.com</p>
         </div>
         <div class="col-lg-4 col-xs-12 col-sm-4 footer-col">
            <h6 class="heading7 subHeading-fontSze-fontFamily">Explore</h6>
            <ul class="footer-ul content-fontSze-fontFamily ">
               <li><a routerLink="/tradeNow" target="_blank"><i class="fa fa-chevron-right"></i>Trade Now</a></li>
               <li><a routerLink="/faq" target="_blank"><i class="fa fa-chevron-right"></i>FAQ</a></li>
               <li><a routerLink="/terms-service" target="_blank"><i class="fa fa-chevron-right"></i>Terms of Service</a></li>
               <li><a routerLink="/privacy-policy" target="_blank"><i class="fa fa-chevron-right"></i>Privacy Policy</a></li>
               <li><a routerLink="/about-bolenum-exchange" target="_blank"><i class="fa fa-chevron-right"></i>About Bolenum</a></li>
            </ul>
            <ul class="footer-ul content-fontSze-fontFamily ">
               <!-- <li><a routerLink="/team" target="_blank"><i class="fa fa-chevron-right"></i>Team</a></li> -->
               <li><a routerLink="/how-to-use" target="_blank"><i class="fa fa-chevron-right"></i>How to use</a></li>
               <!--<li><a href="#"><i class="fa fa-chevron-right"></i>My orders</a></li>
               <li><a href="#"><i class="fa fa-chevron-right"></i>Settings</a></li>-->
              
            </ul>
         </div>
         <div class="col-lg-4 col-xs-12 col-sm-4 footer-col">
            <h6 class="heading7 subHeading-fontSze-fontFamily">Newsletter</h6>
            <p class="content-fontSze-fontFamily">Get Latest update and offer..</p>
            <div class="form">
               <div class="form-group">
                  <div class="input-group">
                     <input class="form-control" placeholder="Email Address" type="text">
                     <span class="input-group-btn">
                     <!--<button class="btn btn-primary" type="button">Search !</button>-->
                    <img src="assets/images/send.png" class="img-resonsive">
                     </span>
                  </div>
               </div>
               <p class="text-footer content-fontSze-fontFamily ">We are at bolenum believe in user's privacy. We never send spam mail. </p>
            </div>
         </div>
      </div>
   </div>
</footer>
<!--footer start from here-->
<div class="copyright footerContent-fontSze-fontFamily">
   <div class="container">
      <div class="col-md-12 copyright-position">
        <p>Copyrights@bolenum  2017-2026 All rights reserved </p>
      </div>
      <!-- <div class="col-md-6">
          <ul class="bottom_ul">
            <li>Developed by Oodles Technologies</li>
         </ul> 
      </div> -->
   </div>
</div>

