.table-margin{
    margin-top: 94px;
        margin-bottom: 70px;
}

.paymentDetails{
    background-color: #DB2828;
    color: white;
}

.panel-Body{
        border: 1px solid lightgray;
}

.tradeNowSellButton{
    color: white;
    outline: none;
    width: 130px;
    border: none;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: #3cb371;
}

.form-control {
  
    width: 60%;
   
}

.addressTextBox{
    text-align: -webkit-right;
    text-align: -moz-right;

}

.addressMargin{
    margin-top: 28px;
    margin-bottom: 28px;
}

.timer-property{
      
    background-color: #f3f3f3;
    padding-bottom: 52px;
    padding-top: 52px;
    /* color: #DB2828;
    font-size: 47px; */
    

}

.timer-font-pro{
        color: #DB2828;
    font-size: 47px;
}
.cancelTradeButton{
    color: white;
    outline: none;
    width: 130px;
    border: none;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: #3cb371; 
}

.depositeAddressMargin{
        margin-top: 33px;
}

.button-Margin{
        margin-top: 19px;
    margin-bottom: 19px;
}

.paid_button{
        background-color: #3cb371;
    color: white;
    width: 100px;
    padding: 8px;
}

.cancel_button{
        color: white;
    width: 100px;
    padding: 8px;
    background-color: #DB2828;
}
.margin-timer{
    margin-bottom: 40px;
}

.margin-top-head{
        margin-top: 34px;
}