.table-margin{
    margin-top: 94px;
        margin-bottom: 70px;
}

.paymentDetails{
   /* background-color: #DB2828;
    color: white;*/
     background-color: #f8f8f8;
    color: #da3030;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #dedede;
}

.payment-table th , td{
    border-top:none !important;
}

/*.panel-Body{
        border: 1px solid lightgray;
}*/

.tradeNowSellButton{
    color: white;
    outline: none;
    width: 130px;
    border: none;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: #3cb371;
}

.form-control {
  width: 60%;
}

.recieve-margin-top{
        margin-top: 20px;
}

.addressTextBox{
    text-align: -webkit-right;
    text-align: -moz-right;

}

.addressMargin{
    margin-top: 28px;
    margin-bottom: 28px;
}
.float-LR{
    float: right;
}

.timer-property{
    background-color: #f3f3f3;
    padding-bottom: 52px;
    padding-top: 52px;
     border-radius: 3px;
    /* color: #DB2828;
    font-size: 47px; */
}
/*.timer-property:hover{
    box-shadow: 0 0 0px 3px rgba(0, 0, 0, 0.05);
    transform: scale(1.03); 
}*/
.font-thick{
    font-weight: 700;
}

.timer-font-pro{
     color: #DB2828;
    font-size: 40px;
}
.cancelTradeButton{
    color: white;
    outline: none;
    width: 130px;
    border: none;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: #3cb371; 
}

.depositeAddressMargin{
        margin-top: 33px;
}

.button-Margin{
        margin-top: 19px;
    margin-bottom: 19px;
}

.paid_button{
        background-color: #3cb371;
    color: white;
    width: 100px;
    padding: 8px;
     text-transform: uppercase;
}
.receive_button{
    background-color: #3cb371;
    color: white;
    width: auto;
    padding: 8px;
    text-transform: uppercase;
}


.cancel_button{
        color: white;
    width: 100px;
    padding: 8px;
    background-color: #DB2828;
     text-transform: uppercase;
}
.paid_button:hover,
.cancel_button:hover,
.receive_button:hover{
     box-shadow: 0px 2px 10px 2px grey;
}
.margin-timer{
    margin-bottom: 20px;
    margin-top: 30px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: center;
}

.margin-top-head{
        margin-top: 34px;
       /* margin-bottom:20px;*/
        text-align: center;
}
.margin-top-head p{
     font-size: 14px;
    /* margin-bottom: 0px;*/
    font-family:  Lato-Regular-font;
    color: #5f5555;
}