<div class="container">
  <div class="row">
    <section>
      <div class="col-sm-10 col-sm-offset-1 depositeAddressMargin">
        <!-- deposite address section -->
        <div class="panel">
          <div class="panel-heading paymentDetails">Deposite Address</div>
          <div class="panel-body panel-Body">
            <div class="row">
              <div class="col-sm-12 addressMargin">
                <div class="col-sm-8 addressTextBox">
                  <div class="form-group">
                    <input class="form-control input-lg " id="inputlg" type="text">
                  </div>
                </div>
                <div class="col-sm-4">
                  <img src="./assets/images/copy.png" width="46" height="46">
                </div>
                <div class="col-sm-10 col-sm-offset-1">
                  <p>Please deposit 0.05100505 BTC into Bitcoin address below so we can hold. Your trade with ruchi2509 will begin as soon as there is 1 confirmation on the Bitcon deposit.</p>
                </div>
                <!-- for address section -->
                <div class="col-sm-10 col-sm-offset-1 text-center">
                  <div>
                    <qr-code [value]="'All QR Code data goes here!'" [size]="150"></qr-code>
                  </div>
                </div>
                <!-- for address section -->
              </div>
            </div>
          </div>
        </div>

        <!-- deposite address section -->
      </div>
      <!-- for timer section -->
      <div class="col-sm-10 col-sm-offset-1 text-center">
        <div class="timer-property">
          <p *ngIf="orderStatus=='LOCKED'"><i class="fa fa-clock-o" aria-hidden="true"></i> Time left to pay.</p>

          <p class="timer-font-pro" id="demo"></p>

          <p>When deposit time went out the trade will be cancelled. Any deposit comes after that will be credited to your account.</p>
        </div>
      </div>
      <!-- for timer section -->
      <div class="col-sm-10 col-sm-offset-1 button-Margin text-center">
        <button *ngIf="orderStatus=='LOCKED'" class="cancelTradeButton" type="submit" name="cancelTrade" (click)="cancelPay()">Cancel Trade</button>
      </div>
      <!-- payment details -->
       <div class="col-sm-10 col-sm-offset-1 ">
          <div class="panel">
          <div class="panel-heading paymentDetails">Payment details</div>
          <div class="panel-body panel-Body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Payment method</th>
                  <td>Bank transfer</td>
                </tr>
                <tr>
                  <th>Amount paid to you</th>
                  <td>{{totalPrice}}</td>
                </tr>
                <tr>
                  <th>Bank name</th>
                  <td>{{bankName}}</td>
                </tr>
                <tr>
                  <th>Bvn code</th>
                  <td>{{ifscCode}}</td>
                </tr>
                <tr>
                  <th>Bank account number</th>
                  <td>{{accountNumber}}</td>
                </tr>
                <tr>
                  <th>Payment reference id</th>
                  <td>#{{orderId}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- payment details -->
    </section>
    <!-- for second page -->
  </div>
</div>
