<div class="container">
  <div class="row">
    <section>
      <div class="col-sm-10 col-sm-offset-1 margin-top-head">
        <p>Please Please click on paid when you got the amount.So we can do complete your trade with the buyer.</p>
      </div>

      <!-- for timer section -->
      <div class="col-sm-10 col-sm-offset-1 text-center margin-timer">
        <div class="timer-property">
          <p *ngIf="orderStatus=='LOCKED'"><i class="fa fa-clock-o" aria-hidden="true"></i> Time left to pay.</p>

          <p class="timer-font-pro" id="demo">{{timer}}</p>

          <p>When deposit time went out the trade will be cancelled. Any deposit comes after that will be credited to your account.</p>
        </div>
      </div>
      <!-- for timer section -->
      <!-- button section -->
      <div class="-sm-10 col-sm-offset-1 ">

        <div class="row">
          <div class="col-sm-6 text-center">
            <button *ngIf="orderStatus=='LOCKED'" class="btn text-uppercase paid_button" type="submit" name="paid">Paid</button>
          </div>
          <div class="col-sm-6 text-center">
            <button *ngIf="orderStatus=='LOCKED'" class="btn text-uppercase cancel_button" type="submit" name="paid">Cancel</button>
          </div>
        </div>

      </div>
      <!-- button section -->
      <!-- payment details -->
      <div class="col-sm-10 col-sm-offset-1 ">
        <div class="panel">
          <div class="panel-heading paymentDetails">Payment details</div>
          <div class="panel-body panel-Body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Payment method</th>
                  <td>Bank transfer</td>
                </tr>
                <tr>
                  <th>Amount paid to you</th>
                  <td>{{totalPrice}}</td>
                </tr>
                <tr>
                  <th>Bank name</th>
                  <td>{{bankName}}</td>
                </tr>
                <tr>
                  <th>Bvn code</th>
                  <td>{{ifscCode}}</td>
                </tr>
                <tr>
                  <th>Bank account number</th>
                  <td>{{accountNumber}}</td>
                </tr>
                <tr>
                  <th>Payment reference id</th>
                  <td>#{{orderId}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- payment details -->
    </section>
    <!-- for second page -->
  </div>
</div>
