<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="dispute-section">
        <strong class="text-danger">Trade is under dispute</strong>
        <p>You are buying <a href="">0.00990099 </a>BTC from southhitz. Bitcoin of the seller is already locked and secured
          for this trade. After the trade is completed, your Bitcoin will be sent to <a href="">3QDbjRuRMDD3KsektKyPczhjhDxZCqsNhG</a></p>
      </div>

      <div class=" button-center">
        <button type="submit" class="btn trade-button">Cancel Trade</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="alert-warning fade-and-collapse text-center ng-isolate-scope alert" uib-alert="" role="alert"><button ng-show="closeable" type="button" class="close ng-hide" ng-click="close({$event: $event})">
  <span aria-hidden="true">×</span>
  <span class="sr-only">Close</span>
</button>
        <div>
          <div class="ng-scope"><em translate-once="trade_disputed_buyer_warning">The trade is under dispute. If you haven't sent payment to seller, please cancel the trade so we can send back Bitcoin to seller.</em></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="widget-area no-padding blank">
        <div class="status-upload">
          <form>
            <textarea placeholder="What are you doing right now?"></textarea>

            <div class=" button-center">
        <button type="submit" class="btn trade-button">Submit</button>
      </div>
          </form>
        </div>
        <!-- Status Upload  -->
      </div>
      <!-- Widget Area -->
    </div>
    <div class="col-sm-10 col-sm-offset-1 margin-table">
      <div class="panel">
        <div class="panel-heading paymentDetails">Payment details</div>
        <div class="panel-body panel-Body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Payment method</th>
                <td>Bank transfer</td>
              </tr>
              <tr>
                <th>Amount to be paid</th>
                <td></td>
              </tr>
              <tr>
                <th>Bank name</th>
                <td></td>
              </tr>
              <tr>
                <th>BVN code</th>
                <td></td>
              </tr>
              <tr>
                <th>Bank account number</th>
                <td></td>
              </tr>
              <tr>
                <th>Payment reference id</th>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>