.dispute-section {
   margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.dispute-section p{
     font-size: 14px;
    font-family:  Lato-Regular-font;
    color: #5f5555;
}
.text-err{
    font-size: 14px;
    margin: 0;
}

.payment-table th , td{
    border-top:none !important;
}

.text-danger {
    color: #DB2828;
    font-size: 22px;
    }
.paymentDetails{
  /*  background-color: #DB2828;
    color: white;*/
    background-color: #f8f8f8;
    color: #da3030;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #dedede;
}
p {
    margin: 7px 0 10px;
}
/*.panel-Body{
        border: 1px solid lightgray;
}*/
.panel-body.panel-Body.new {
  background: #f3f3ee;
}
.trading-margin{
    margin-top: 34px;
    
}
.col-button {
    margin-top: 20px;
}
.table-margin{
    margin-top: 16px;
}
.trade-button-margin{
        margin-bottom: 82px;
}
.trade-button{
    background-color: #DB2828;
    color: white;
    outline: none;
    width: 130px;
    border: none;
    margin-bottom: 20px;
    padding-top: 8px;
    padding-bottom: 10px;
}

.button-dispute{
    background-color: #3cb371;
    color: white;
    width: 200px;
    padding: 8px;
    text-transform: uppercase;
}
.button-dispute:hover,
.upload-button:hover,
.trade-button:hover{
    box-shadow: 0px 2px 10px 2px grey;
}

.upload-button{
    background-color: #3cb371;
    color: white;
    width: 221px;
    padding: 8px;
    text-transform: capitalize;
}


.margin-zero{
    margin: 0;
}

.button-center {
    text-align: center;
}
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
    width: 100%;
    height: 200px;
    border: 1px solid #e7e2e2;
    padding:10px 20px;
    border-radius: 5px;
    outline: none;
}
.border-box{
     border: 2px solid #e7e2e2;
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 7px;
    margin-bottom: 7px;

}

button.btn.btn-success.green {
    width: 341px;
    padding: 11px;
    margin-left: -13px;
    color: white;
    background: #3cb371;
    outline: none;
    border: none;
}

#fileselector {
    margin: 10px; 
}
#upload-file-selector {
    display:none; 
  
}
label.btn.btn-default {
     width: 507px;
    color: white;
    outline: none;
    border: none;
    background: #DB2828;
    padding: 10px;
    font-size: 16px;  
}
.ng-scope{text-align: center;}
.margin-correction {
    margin-right: 10px;   
}
p.uopload-img {
   font-size: 12px;
    text-transform: lowercase;
    font-weight: 700;
    margin-top: 0px;
    margin-left: 50px;
    color: #757070;
}
.transaction-width{
    width: 42% !important;
}

.margin-top-level{
    margin-top: 25px;
}
.id {
    /* margin-left: 108px; */
    width: 24%;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    button.btn.btn-success.green {
        width: 194px;
    margin-left: 11px;
    margin-bottom: 8px;
    /* margin-right: 55px; */
}
    
}