<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="dispute-section">
        <strong class="text-danger">Trade is under dispute</strong>
        <p>You are buying {{orderVolume}} {{currencyAbr}} from {{sellerName}}. If send payment to the seller and not getting {{currencyAbr}} thenwe will solve this issue and your {{currencyAbr}} will be sent to {{walletAddress}}</p>
      </div>
      <div class=" button-center" *ngIf="orderStatus != 'CANCELLED'">
        <button type="submit" class="btn trade-button" (click)="cancelPay()">Cancel Trade</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="alert-warning fade-and-collapse text-center ng-isolate-scope alert" uib-alert="" role="alert">
        <button ng-show="closeable" type="button" class="close ng-hide" ng-click="close({$event: $event})">
            <span aria-hidden="true">×</span>
            <span class="sr-only">Close</span>
            </button>
      </div>
      <div class="ng-scope"><em translate-once="trade_disputed_buyer_warning">The trade is under dispute. If you haven't sent payment to seller, please cancel the trade so we can send back {{currencyAbr}} to seller.</em></div>
    </div>
  </div>
</div>
<div *ngIf="orderStatus != 'CANCELLED'">
  <form #disputeForm=ngForm (submit)="raiseDispute(disputeForm)">
    <div class="row margin-zero">
      <div class="col-sm-10 col-sm-offset-1 id">
        <div class="form-group">
          <label for="usr">Transaction ID:</label>
          <input type="text" name="tId" #tId="ngModel" class="form-control input-text" class="form-control" id="usr" [(ngModel)]="transactionId" >
        </div>
      </div>
    </div>
    <div class="col-sm-10 col-sm-offset-1 margin-table">
      <div class="panel">
        <div class="panel-heading"></div>
        <div class="panel-body panel-Body new">
          <div class="widget-area no-padding blank">
            <div class="status-upload">
              <p>Send message to</p>
              <textarea name="commentDisputeRaiser" #commentDisputeRaiser="ngModel" [(ngModel)]="commentByDisputeRaiser" required></textarea>
              <span id="commentSelector">
              <div *ngIf="commentDisputeRaiser.invalid && disputeForm.submitted">
                <div *ngIf="commentDisputeRaiser.errors.required">
                  <p>Please enter comment.</p>
              </div>
            </div>
              </span>
              <div class="col-button">
                <div class="col-sm-5">
                  <button type="submit" class="btn btn-success green"> Submit</button>
                </div>
                <div class="col-sm-7">
                  <span id="fileselector">
                  <label class="btn btn-default" for="upload-file-selector">
                  <input id="upload-file-selector" #fileInput type="file" accept="image/x-png,image/jpeg,application/pdf">
                  <i class="fa_icon icon-upload-alt margin-correction"></i>Upload your payment proof
                  </label>
                  <p class="uopload-img"> Only jpg, jpeg, png or pdf</p>
                  <div *ngIf="fileInput.invalid && disputeForm.submitted">
                    <div *ngIf="fileInput.errors.required">
                      <p>Please Upload file.</p>
                    </div>
                    </div>
                  </span>

                </div>

              </div>
              <p class="color-text"> <strong>Support</strong>:@please confirm if you have received payment </p>
            </div>
            <!-- Widget Area -->
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<div class="col-sm-10 col-sm-offset-1 margin-table">
  <div class="panel">
    <div class="panel-heading paymentDetails">Payment details</div>
    <div class="panel-body panel-Body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Payment method</th>
            <td>Bank transfer</td>
          </tr>
          <tr>
            <th>Amount to be paid</th>
            <td>{{totalPrice}} NGN</td>
          </tr>
          <tr>
            <th>Bank name</th>
            <td>{{bankName}}</td>
          </tr>
          <tr>
            <th>BVN code</th>
            <td>{{ifscCode}}</td>
          </tr>
          <tr>
            <th>Bank account number</th>
            <td>{{accountNumber}}</td>
          </tr>
          <tr>
            <th>Payment reference id</th>
            <td>#{{orderId}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
