.logo-img {
  display: inline-block;
  width: 40px;
  vertical-align: middle;
  margin: 10px 0;
  float: left;
}

.heading-font-size {
  font-size: 20px;
}

.heading-sub-menu {
  font-size: 11px;
}

.insight {
  margin-left: 20 !important;
  float: none;
  vertical-align: middle;
  line-height: 50px;
  color: #fff;
}

.top_bar {
  min-height: 20px;
  background: #DB2828;
}

.nav-right-margin {
  margin-right: 35px;
}

.nav-left-margin {
  margin-left: 35px;
}

.topnav {
  list-style-type: none;
  margin-bottom: 0px;
  float: left;
  padding: 0px;
  margin-left: 0px;
}

.topnav li {
  float: left;
  padding: 7px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.topnav li a {
  padding: 0 10px;
  line-height: 40px;
  color: #FFF;
}

.rightc {
  list-style-type: none;
  margin-bottom: 0px;
  float: right;
}

.drop-down-height {
    height: 67px;
}

.more-drop-down {
    border: none;
    background: #f8f8f8;
    text-transform: capitalize;
    color: #777;
}

.sub-Menu-Item{
    
   margin-left: 14px;
    margin-right: 14px;
}



.more-dropDown-menu {
    margin-top: 31px;
    background-color: white;
    color: gray;
    border: 0px;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 154px;
    z-index: 1;
}

.padding-dropdown {
    padding-top: 7px;
}

.rightc li {
  margin: 0px -7px;
  float: left;
  line-height: 40px;
  color: #FFF;
}

.rightc li a {
  color: #FFF;
}

.navbar-brand img {
  margin-top: 7px;
  margin-left: 35px;
}

.nav li>a {
  position: relative;
  display: block;
  padding: -6px 35px;
  cursor: pointer;
}

.navbar-brand {
  padding: 0px;
}

.header_image {
  margin-top: -70px;
  float: left;
}

.nav.navbar-nav.navbar-right span {}

.navbar-right li a {}

.navbar-default .navbar-brand {
  color: #DB2828;
  ;
}

.header-menu .navbar-default {
  background: #f8f8f8;
  border: none;
  border-radius: 0;
  line-height: 5px;
  height: 65px;
  padding: 5px 67px;
}

span.exchange-color {
  color: #DB2828;
  margin-left: 2px;
}

.header-menu .navbar.navbar-default {
  padding-left: 15px;
  padding-right: 15px;
}

.header-menu .navbar-default .navbar-nav>.open>a {
  background: #fff;
  color: #000;
}

.navbar-margin {
  margin-top: 0px;
}

.header-menu.navbar-default {
  height: 85px;
}

.header-menu .navbar-collapse {
  margin-top: 16px;
}

.navbar-default .navbar-brand {
  color: #1d1c1c;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 0px 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #333;
  background: none !important;
}

.navbar-toggle {
  margin-right: -44px;
}

.nav li.active a:after {
  content: "";
  background: #bdb4b4;
  padding: 0px;
  width: 31px;
  height: 3px;
  margin: 0px auto;
  text-align: center;
  display: block;
  border-radius: 4px;
}

.dropdown-menu {
  background-color: white;
  color: gray;
  border: 0px;
  border-radius: 2px;
  padding-top: 7px;
  padding-bottom: 5px;
  min-width: 220px;
  z-index: 1;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.dropdown-menu>li>a {
  background-color: #FFFFFF;
  color: gray;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #FFFFFF;
  color: gray;
}

.header-menu .navbar-collapse {
  float: right;
  padding: 0;
}

.header-menu .navbar.navbar-default {
  margin-bottom: 0;
  box-shadow: 2px 1px 7px #eee;
}

.drop-active {
  color: #DB2828 !important;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
  background: #DB2828 !important;
}

li.dropdown {
  margin-top: -11px;
  text-transform: uppercase;
}

img.drop-icon {
  width: 29px;
  padding-left: 8px;
}

img.img-profile-icon {
  width: 59px;
  padding: 2px 20px;
  margin-left: -15px;
}

/* start media query */

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header-menu .navbar-default .navbar-collapse {
    border: none;
    box-shadow: none;
    margin-bottom: 10px;
  }
  .navbar-toggle {
    margin-top: 2px;
  }
  .nav li {
    width: 300px;
    position: relative;
  }
  .header-menu .navbar.navbar-default {
    padding-left: 60px;
    padding-right: 60px;
    height: 65px;
  }
  .header-menu {
    overflow-x: auto;
    ;
  }
  .header-menu .navbar {
    margin-bottom: 0;
  }
  .navbar-brand img {
    margin-left: -43px;
  }
  span.red {
    display: none;
  }
  span.exchange-color {
    display: none;
  }
  .nav li.active a:after {
    margin-left: 0px !important;
    width: 80px !important;
    height: 5px;
  }
  .nav li.new.active a:after {
    margin-left: 34px;
    width: 38px;
    height: 5px;
  }
  .dropdown-menu {
    padding-top: 7px;
    padding-bottom: 7px;
    min-width: 0px;
    z-index: 1;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #333;
    ;
  }
  a.navbar-brand.insight span.exchange-color {
    margin-top: -52px;
    margin-left: -17px;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
  }
  .logo-img {
    display: inline-block;
    width: 44px;
    vertical-align: middle;
    float: left;
  }
  .topnav li {
    float: left;
    padding: 0px;
  }
  .navbar-nav {
    margin: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header-menu {}
  .nav li.active a:after {
    content: "";
    background: #DB2828;
    padding: 2px;
    width: 20px;
    height: 5px;
    margin: 6px auto;
    text-align: center;
    display: block;
    border-radius: 4px;
  }
  .navbar-nav {
    float: none;
    ;
    margin: 0;
    margin-top: 2px;
  }
  .navbar-default .navbar-brand {}
  .nav>li>a {
    position: relative;
    display: block;
    padding: 13px 6px;
  }
  span.exchange-color {}
  .navbar-brand img {
    margin-top: -5px;
    margin-left: -20px;
  }
}