<div class="container">
  <div class="row">
    <section>
      <div class="col-sm-10 col-sm-offset-1 trading-margin">
        <p> You are buying {{orderVolume}} {{currencyAbr}} from {{sellerName}}. {{currencyAbr}} of the seller is already locked and secured for this trade. Please send payment to the seller then confirm below. After the trade is completed, your {{currencyAbr}} will be received from {{walletAddress}}
          </p>
      </div>
      <div class="col-sm-10 col-sm-offset-1 timer-margin">
        <div class="timer-property">
          <p *ngIf="orderStatus=='LOCKED' && !isConfirmed"><i class="fa fa-clock-o" aria-hidden="true"></i> Time left to pay.</p>

          <p class="timer-font-pro" id="demo"></p>

          <p>When payment time went out, the trade will be cancelled and we will send back the fund to seller.</p>
        </div>

      </div>
      <div class="col-sm-12 ">
        <div class="col-sm-12">
          <div class="col-sm-6 button-center">
            <button *ngIf="orderStatus=='LOCKED' && !isConfirmed" type="submit" class="btn trade-button button-color" name="trdeNow" (click)="confirmPay();">Paid</button>
          </div>
          <div class="col-sm-6 button-center">
            <button *ngIf="orderStatus=='LOCKED' && !isConfirmed" type="submit" class="btn trade-button" (click)="cancelPay()" name="trdeNow">Cancel</button>
          </div>
        </div>
      </div>
      <!-- payment details -->
      <div class="col-sm-10 col-sm-offset-1 margin-table">
        <div class="panel">
          <div class="panel-heading paymentDetails">Payment details</div>
          <div class="panel-body panel-Body">
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <th>Payment method</th>
                  <td>Bank transfer</td>
                </tr>
                <tr>
                  <th>Amount to be paid</th>
                  <td>{{totalPrice}} NGN</td>
                </tr>
                <tr>
                  <th>Bank name</th>
                  <td>{{bankName}}</td>
                </tr>
                <tr>
                  <th>BVN code</th>
                  <td>{{ifscCode}}</td>
                </tr>
                <tr>
                  <th>Bank account number</th>
                  <td>{{accountNumber}}</td>
                </tr>
                <tr>
                  <th>Payment reference id</th>
                  <td>#{{orderId}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- payment details -->
    </section>

    <!-- <section *ngIf="hasPaymentConfirm">
      <div class="col-sm-10 col-sm-offset-1 marginConfirm">
        <h4 class="heading-Text">WAIT FOR PAYMENT CONFIRMATION</h4>
        <p>You are buying {{orderVolume}} {{currencyAbr}} from {{sellerName}}. {{currencyAbr}} of the seller is already locked and secured for this trade. Please send payment to the seller then confirm below. After the trade is completed, your {{currencyAbr}} will be sent to {{walletAddress}}.
        </p>
        <div class="col-sm-12 button-margin-top">
          <div class="col-sm-6 button-Right">
            <button type="submit" name="cancelTrade" class="btn cancelTrade" data-toggle="modal" data-target="#myModal" (click)="cancelPay()">Cancel Trade</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" name="cancelTrade" class="btn disputeTrade" data-toggle="modal" (click)="dispute()">Dispute</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
              <p></p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" >Yes</button>

              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>

        </div>
      </div>
    </section> -->
    <!-- confirmaton page -->
  </div>
</div>
