/*ul.dropdown-menu{
    display: block;
}*/

.container.container-padding {
    padding-top: 60px;
    padding-bottom: 20px;
}
.table-color {
    background-color: #f1f0f0;
}
select.right-dropddown {
    float: right;
    background: none;
    border: none;
    margin-right: 81px;
}
.mydp .selbtngroup {
    position: relative;
    white-space: nowrap;
    font-size: 0;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

 .date-picker {
    float: right;
    background: none!important;
    vertical-align: middle;
    margin-bottom: -10px;
}
.mydp, .mydp .headertodaybtn {
    border: 1px solid #DB2828;
    bottom: 7px;
}
button.btn.btn-primary.dropdown-toggle {
    background:#DB2828;
    padding: 0px;
    border: none;
    outline: none;
}
	
.clickable{
   cursor: pointer;   
}
.panel-heading div {
    margin-top: -18px;
	font-size: 15px;
}
.panel-heading div span{
	margin-left:5px;
}
.panel-body{
   display: none;
		}
.panel-heading div {
    margin-top: -13px;
    font-size: 15px;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #DB2828;
    border-color: #DB2828;
    border: none; 
    
}
.panel-heading {
    padding: 23px 21px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.panel-primary {
    border: none;
}
h3.panel-title {
    font-size: 18px;
    font-weight: 600;
}
.dropdown-menu>li>a {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.42857143;
    white-space: nowrap;
    color: #B2B2B2;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px 48px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.open>.dropdown-menu {
    display: block;
    border: none;
    border-radius: 0;
}
.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}
.btn-danger {
    color: #fff;
    border-color: #DB2828;
    outline: none;
}
  

label {
  cursor: pointer;
}
input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"]:checked {
     visibility: hidden;
}
input[type="checkbox"] + label:before {
  border: 1px solid  #DB2828;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 19px;
  background-color:  #DB2828;
  margin: 0 .25em 0 0;
  padding: 0;
  vertical-align: top;
  width: 23px;
  border-radius: 4px;
}
input[type="checkbox"]:checked + label:before {
  background:#DB2828;;
  color: white;
  content: "\2713";
  text-align: center;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
}
    
@media screen and (min-width: 320px) and (max-width: 767px){
  .transaction-history {
    background-color: #DB2828;
    text-align: left;
    color: white;
    width: 420px;
   
}
}