
.container.container-padding {
    padding-top: 40px;
    padding-bottom: 20px;
}
.transaction-history {
    background-color: #DB2828;
    text-align: left;
    color: white;
    padding-top: 14px;
    padding-bottom: 16px;
    font-size: 14px;
    padding-left: 12px;
    border-top-left-radius:8px;
    border-top-right-radius:8px;
   
}

.table-color {
    background-color: #f1f0f0;
}
select.right-dropddown {
    float: right;
    background: none;
    border: none;
    /* right: 19px; */
    margin-right: 81px;
}
.mydp .selbtngroup {
    position: relative;
    white-space: nowrap;
    
    font-size: 0;
}

.mydp, .mydp .headertodaybtn {
    /* border: 1px solid #CCC; */
}
@media screen and (min-width: 320px) and (max-width: 767px){
  .transaction-history {
    background-color: #DB2828;
    text-align: left;
    color: white;
    width: 420px;
   
}
}