<div class="container">
  <div class="login-content">
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/login-img.png" class="img-login">
      </div>
      <div class="col-md-6 ">
        <div class="text-center">
          <img src="assets/images/bolenum.png" class="img-header">
        </div>
        <form #loginForm="ngForm" (submit)=loginUser(loginForm)>
          <div class="input-group">
            <span class="input-group-addon"><img src="assets/images/profile.png"></span>
            <input id="email" type="email" class="form-control" name="email" [(ngModel)]="login.emailId" #email="ngModel" placeholder="Email" email required>

          </div>
          <span *ngIf="email.invalid && loginForm.submitted">
            <span class="text-danger" *ngIf="email.errors.required">Please enter email</span>
            <span class="text-danger" *ngIf="email.errors.email && !email.errors.required">Please enter valid email</span>
          </span>
          <div class="input-group">
            <span class="input-group-addon"><img src="assets/images/pasword.png"></span>
            <span class="clearfix input-icon">
                  <input id="password" type="password" class="form-control" name="password" [(ngModel)]="login.password" #password="ngModel" placeholder="Password" required>

                  <img src="assets/images/view_uf.png" class="img-responsive"/>
               </span>

          </div>
          <span *ngIf="password.invalid && loginForm.submitted">
            <span class="text-danger" *ngIf="password.errors.required">Please enter password</span>
          </span>
          <div class="col-md-6 forgot-pass-content">
            <a routerLink="/forget" class="forgot-pass">Forgot Password?</a>
          </div>
          <button type="submit" class="btn btn-success">login</button>
        </form>
        <div class="login-or">
          <hr class="hr-or">
          <span class="span-or">or</span>
        </div>
        <h4 class="text-left"> create  now  </h4>
        <div class="input-groups">
          <span class="clearfix input-icons">
                  <input id="Enter your email" type="Email" class="form-control" name="email" placeholder="Enter your email">
                  <img src="assets/images/Email.png" class="img-responsive"/>
               </span>

        </div>

        <button type="submit" class="btn btn-continue">continue</button>

      </div>
    </div>
  </div>
</div>
