<div class="container">
  <div class="login-content boxShadow-card">
    <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-6">
        <img src="assets/images/login-img.png" class="img-login">
      </div>
      <div class="col-md-6 col-xs-12 col-sm-6">
        <div class="login-text">
          <div class="text-center">
            <img src="assets/images/bolenum.png" class="img-header">
            <h4 class="titleHeading form_heading level-font-weight">Login</h4>
          </div>
          <div *ngIf="!is2FaOn">
            <form #loginForm="ngForm" (submit)=loginUser(loginForm)>
              <div class="input-group">
                <span class="input-group-addon"><img src="assets/images/Email.png"></span>
                <input id="email" type="email" class="form-control content-font-size content_text" name="username" [(ngModel)]="login.emailId" #email="ngModel" pattern="^[^@]+@[^@]+\.[a-zA-Z]{2,6}$" placeholder="Email" required>
              </div>
              <div *ngIf="email.invalid && loginForm.submitted">
            <p class="text-danger errorContent-font-size error-msg-fontSize" *ngIf="email.errors.required">Please enter email</p>
              <p class="text-danger errorContent-font-size error-msg-fontSize" *ngIf="email.errors.pattern">Please enter valid email</p>
              </div>
              <div class="input-group">
                <span class="input-group-addon"><img src="assets/images/pasword.png"></span>
                <span class="clearfix input-icon">
               <input id="password" type='{{ passwordType }}' class="form-control content-font-size content_text" name="password" [(ngModel)]="login.password" #password="ngModel" placeholder="Password" required>
               <img src="assets/images/view_uf.png" class="img-responsive hand-icon " (click)='hideShowPassword()' title=' {{ viewPassword }}' [ngClass]= "{'passwordShow':hasShowPassword}"/>
               </span>
              </div>
              <div *ngIf="password.invalid && loginForm.submitted">
            <p class="text-danger errorContent-font-size error-msg-fontSize" *ngIf="password.errors.required">Please enter password</p>
              </div>
          <div class="row">
            <div class="col-sm-12 recaptch-margin">
              <re-captcha name="captcha" #captchaControl="ngModel" [(ngModel)]="formModel.captcha" required></re-captcha>
            </div>
            </div>
          <div class="row">
              <div class="col-md-12 forgot-pass-content">
                 <button type="submit" class="btn btn-success errorContent-font-size button-property-new button-font-size">login</button>
                 </div>
          </div>

          <div class="row">
            <div class="col-md-12 forgot-padding">
                <a routerLink="/forgot" class="forgot-pass errorContent-font-size content_text">Forgot Password?</a>
            </div>
          </div>


            </form>
          </div>
          <div *ngIf="is2FaOn">
            <form #otpForm="ngForm" (submit)=verify2Fa(otpForm)>
              <div class="input-group">
                <span class="input-group-addon"><img src="assets/images/pasword.png"></span>
                <input id="email" type="text" class="form-control" name="otp" [(ngModel)]="otp" minlength="6" maxlength="6" #twoFaOtp="ngModel" placeholder="OTP" required onlynumber>
              </div>
              <span *ngIf="twoFaOtp.invalid && otpForm.submitted">
           <span class="text-danger errorContent-font-size" *ngIf="twoFaOtp.errors.required">Please enter otp</span>
              <span class="text-danger errorContent-font-size" *ngIf="twoFaOtp.errors.minlength">Please enter valid otp</span><br>
              </span>
              <button type="submit" class="btn btn-successver errorContent-font-size">Verify Otp</button><br>
              <a *ngIf="twoFaOption!='GOOGLE_AUTHENTICATOR'" (click)="resend2FaOtp()" class="resend-otp errorContent-font-size ">Resend Otp</a>
            </form>
          </div>
          <!-- <div class="login-or">
          <hr class="hr-or">
          <span class="span-or">or</span>
        </div> -->
          <!-- <h4 class="text-left"> create  now  </h4>
        <div class="input-groups">
          <span class="clearfix input-icons">
                  <input id="Enter your email" type="Email" class="form-control" name="email" placeholder="Enter your email">
                  <img src="assets/images/Email.png" class="img-responsive"/>
               </span>
            </div>
            <button type="submit" class="btn btn-continue">continue</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
