<div class="container">
  <div class="row">
    <div class="col-sm-12 padding-privacy">
      <h1> how-to-use comming soon................</h1>
      <p>Lorem Ipsum is simply dummy text of 
        the printing and typesetting industry.
         Lorem Ipsum has been the industry's st
         andard dummy text ever since the 1500s
         , when an unknown printer took a galle
         y of type and scrambled it to make a t

         ype specimen book. It has survived not o
         nly five centuries, but also the leap in
         to electronic typesetting, remaining esse
         ntially unchanged. It was popularised in 
         the 1960s with the release of Letraset she
         ets containing Lorem Ipsum passages, and mo
         re recently with desktop publishing softwar
         e like Aldus PageMaker including versions o
         f Lorem Ipsum.</p>
      </div>

  </div>
</div>