<div class="container">
<div class="login-content">
   <div class="row">
      <div class="col-md-6">
        
         <img src="assets/images/login-img.png"class="img-login">
      </div>
      <div class="col-md-6">
         <div class="text-center">
            <img src="assets/images/bolenum.png" class="img-header">
            <h4 class="text-center"> Reset Password  </h4>
         </div>
         <form>
            <div class="input-group">
               <span class="input-group-addon"><img src="assets/images/pasword.png"></span>
               <input id="l\newpassword" type="text" class="form-control" name="New Password" placeholder="New password">
            </div>
            <div class="input-group">
               <span class="input-group-addon"><img src="assets/images/pasword.png"></span>
               <input id="l\conformpassword" type="text" class="form-control" name="Conform Password" placeholder="Conform password">
            </div>
            
            
              
            
                <button type="reset" class="btn btn-continue">Reset Password</button>
         </form>
      </div>
   </div>
</div>
</div>