.login-content {
    margin-top: 80px;
   box-shadow:  0 0 27px #eee;
    width: 942px;
    margin-left: 80px;
    margin-bottom: 87px;
}
  img.img-login {
    width: 100%;
    height: auto;
    
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: 11px;
   font-family: Lato;
}
img.img-header{
    
	top: 0;
	left: 0;
}
.text-center {
    text-align: center;
    padding: 26px;
}
.text-left {
    text-align: left;
    color: #DB2828;;
    text-transform: uppercase;
    font-size: 15px;

}
.login-or {
    position: relative;
    font-size: 18px;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: 15px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
  }
  .input-group input{
    height: 38px;
  }
   .input-groups input {
    height: 38px;
    width: 431px;
    margin-left: 11px;
}
  .input-icon{
    position: relative;
    float: left;
    width: 100%;
    border-radius: 0;
  }
  .input-icon input{
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .input-icon img{
    right: 10px;
    position: absolute;
    top: 8px;
    z-index: 99999;
  }
  .input-icons img{
    position: relative;
    top: -30px;
    z-index: 99999;
    right: -408px;
  }
  .btn-success {
    color: #ffffff;
    width: 140px;
    background-color:  #DB2828;
    border-color:  #DB2828;
    font-family: Lato;
    margin-left: 11px;
    outline: none;
}
   .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #DB2828;
    border-color: #DB2828;
}
.col-md-6.forgot-pass-content a{
    text-decoration: none;
    color: #D4D4D4;
}
.col-md-6.forgot-pass-content {
    float: right;
    padding: 2px;
}
button.btn.btn-continue {
    color: #ffffff;
    width: 164px;
    background-color: #DB2828;
    border-color: #DB2828;
    margin-left: 11px;
    margin-top: 22px;
     }
h4.text-center {
    margin: 20px;
    text-transform: uppercase;
    font-size: 18px;
    color:#DB2828;
    text-align: center;
   
}
.bg_color{
    background-color: #fff;
}

.error-msg{
    margin-left: 12px;
}

.reset-form-padding{
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 28px;
    margin-top: 31px;
    
}

.laregular{
     font-family: Lato-Regular-font;
}

/*start media for mobile device*/
@media screen and (min-width: 320px) and (max-width: 767px){
  
   img.img-login {
   width: 100%;
    height: auto;;
}
.login-content {
    margin-top: 80px;
    box-shadow: 0 0 27px #eee;
    width:100%;
    margin-left:0px;
    margin-bottom: 87px;
}
.login-text {
    
    margin-right: 0px;
}
.input-group {
   width:100%
  }
 button.btn.btn-continue {
    margin-left: 11px;
    margin-top: 9px;
    margin-bottom: 19px;
     }
 }

 @media screen and (min-width: 768px) and (max-width: 1023px){
  img.img-login {
   width: 100%;
    }
.login-content {
    margin-top: 80px;
    box-shadow: 0 0 27px #eee;
    width:100%;
    margin-left:0px;
    margin-bottom: 87px;
}
  .login-text {
    
    margin-right: 0px;
  }
 .input-group {
   width:80%
  }
  
}



