.text-image-div {
    background-color: #f3f3f3;
    padding-bottom: 34px;
    padding-top: 37px;
}

.balance-text {
 
    font-size: 21px;
    color: #b2a89b;
}

.top-margin-field {
    margin-top: 33px;
}

.label-text-color {
    color: #b2a89b;
}

.red-text-color {
    color: #DB2828;
}

.main-div-margin {
    margin-bottom: 76px;
    margin-top: 38px;
}

.button-padding {
   padding-left: 21px;
   margin-top: 11px;
}

.submit-button {
    background-color: #DB2828;
    opacity: none !important;
    border: none;
    padding: 8px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    width: 25%;
}
select.center-dropddown {
    background: #DB2828;
    width: 225px;
    padding: 10px;
    color: white;
    border: none;
    outline: none;
}
select.center-dropddown option {
    width: 225px;
    outline: none;
}
.col-md-12.withdraw-dropdown {
    text-align: center;
    margin-top: 94px;
}

select option{
    margin: 40px;
    background: #fff;
    color: #000;
}

.col-width{
    width: 45%;
}

.available-text{
    margin-top: 20px;
}
.color-box {
    background-color: #FFFFFF;
    padding-bottom: 60px;
}


/*start media query*/
  @media screen and (min-width: 320px) and (max-width: 767px){
  .col-width{
    width: 100%;
  }
  .color-box{
    margin-bottom: 20px;
  }
  .top-margin-field {
    margin-top: 0px;
  }
  .text-image-div {
    background-color: #f3f3f3;
    padding-bottom: 34px;
    padding-top: 37px;
  }
  .main-div-margin {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .wallet-background-img {
    height: 282px;
    width: 103%;
  }
  .submit-button {
   margin-left: 12px;
   width: 30%;
}
 .col-md-12.withdraw-dropdown{
   margin-bottom: 20px;
 }
 }
@media screen and (min-width: 768px) and (max-width: 1023px){
  .wallet-background-img {
    height: 282px;
    width: 103%;
}
   
}

.text-label-top-padding{
        padding-top: 9px;
}

.trade-History-table{
    border: 1px solid lightgray;
}

 .border-left th{
        border-left: 1px solid lightgray;
        text-align: center;
        
}
.table-Content td{
    text-align: center;
}
.table-Head {
        background-color: #db2828;
    color: white;
}
.table-content-font{
        font-size: 13px !important;
    font-family: Lato-Regular-font !important;
    font-weight: 100!important;
}

.margin-Table{
    margin-top: 50px;
}
.table-content-font{
        font-size: 13px !important;
    font-family: Lato-Regular-font !important;
    font-weight: 100!important;
}


.table-Heading{
        font-size: 14px !important;
    font-family: Lato-Regular-font !important;
    font-weight: 100!important;
}
