<div class="container">
  <div class="row">
    <div class="col-md-12 withdraw-dropdown">
      <select class="center-dropddown">
            <option value="buyEth">BTC</option>
            <option value="BUYETH">ETH</option>
            <option value="BUYETH">BOLENO</option>
           </select>
    </div>
    <div class="col-md-10 col-md-offset-1 main-div-margin">
      <div class=" text-center text-image-div">
        <div class=" ">
          <span>
         <img src="./assets/images/bitcoin.png" width="46" height="46">
       </span>
        </div>
        <div class="">
          <span class="balance-text">
          Available Balance 0.2156   
      </span>
        </div>
      </div>
      <div class="col-md-8 col-md-offset-2 top-margin-field">

      </div>
      <div class="col-md-8 col-md-offset-2">

        <div class="col-md-3 col-md-offset-2 label-text-color">

          <label>Witdraw Amount</label>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <input type="text" class="form-control" id="usr">
          </div>
          <p><span class="red-text-color">Minimum Withdrawal Amount:</span> 0000.5</p>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-5 button-padding">
        <button class="submit-button text-uppercase">Submit</button>
      </div>
    </div>
  </div>
</div>
