<div class="container">
<div class="login-content">
   <div class="row">
      <div class="col-md-6">

         <img src="assets/images/login-img.png"class="img-login">
      </div>
      <div class="col-md-6">
         <div class="text-center">
            <img src="assets/images/bolenum.png" class="img-header">
            <h4 class="text-center"> Forget Your Password  </h4>
            <p class="text-center">Enter your email address below and well send you instruction on how to chnages your password.</p>
         </div>
         <form  #forgetpassForm="ngForm" (submit)=forgetPassword(forgetpassForm)>
              <div class="input-groups">
               <span class="clearfix input-icons">
                  <input id="Enter your email" type="Email" class="form-control" name="email" [(ngModel)]="email" #emailId="ngModel" placeholder="Enter your email" email required>
                  <img src="assets/images/Email.png" class="img-responsive"/>
               </span>
               </div>
               <span *ngIf="emailId.invalid && forgetpassForm.submitted">
               <span class="text-danger" *ngIf="emailId.errors.required">Please enter email</span>
               <span class="text-danger" *ngIf="emailId.errors.email && !emailId.errors.required">Please enter valid email</span>
               </span>
                <button type="continue" class="btn btn-continue">Send</button>
         </form>
      </div>
   </div>
</div>
</div>
