@import '../../theme/sass/auth';
button.btn.btn-default {
    border-width: 1px;
    color:#fff;
    background:#c50808;
    border-color: rgba(255, 255, 255, 0.5);
    padding:8px 80px;
    border-radius:5px;
}

img.login {
   
    left: 202px;
    position: relative;
    bottom: 23px;
}
.form-control {
    color: #333;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    font-size: 14px;
    
    }
    .glyphicon-user:before {
    content: "\e008";
}