.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}
.widgets .data-table-container {
     width: 100%; 
}

.blurCalendar {
  height: 475px;
}

.animated-inventoryCard{
  height: 100px;
}
.inventory-side{
  float: left;
  height: 100%;
  width: 47px;
}
.descriptionTotal{
  margin-bottom: 10px;
}
.descriptionarrived{
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 16px;
}
.dashboard.progress{
  margin-bottom: 3px;
}
.dashboard .progress-bar{
  height: 6px;
}
.inventryIcon{
  border-radius: 50%;
  font-size: 16px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.37);
}
.table{
  border:1px solid #ccc;
  margin-top: 20px;
}
.pagination > li > a, .pagination > li > span{
  border: 1px solid #ddd;
}
button.btn.btn-danger:active, button.btn.btn-danger.active {
    background: #f95372;
    border-color: #e13b5a;
    font-size: 10px;
}

@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

