ul {
    list-style: none;
    display: inline-flex;
}

ul li {
    margin-right: 15px;
}

.qrCode {
    margin-top: 30px;
}
.input-box {
    text-align: -webkit-center;
    padding-top: 22px;
}
input {
    padding: 27px;
    width: 33%;
}
.network {
    color: #db2828;
}
.genarate-button {
    background-color: #DB2828;
    opacity: none !important;
    border: none;
    padding: 11px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    width: 21%;
}
.main-div {
    margin-top: 14px;
    /* margin-bottom: 66px; */
}

.margin-button {
    margin-top: 10px;
}
select.center-dropddown {
    background: #DB2828;
    width: 225px;
    padding: 10px;
    color: white;
    border: none;
}
.coinNotFound{
    color:#DB2828;
    margin-top: 3px;

}
input[type="text"]{
        width: 41%;
}
.deposit-bg-color{
    background-color: white;
       padding-bottom: 0px;
    padding-top: 65px;
}
.deposit-container-padding{
    margin-top: 67px;
    margin-bottom: 51px;
}
.option-box{
        background-color: white;
    color: black;
}
/* table */
.trade-History-table{
    border: 1px solid lightgray;
}
.border-left th{
        border-left: 1px solid lightgray;
        text-align: center;

}
.table-Content td{
    text-align: center;
}
.table-Head {
        background-color: #db2828;
    color: white;
}
.table-content-font{
        font-size: 13px !important;
    font-family: Lato-Regular-font !important;
    font-weight: 100!important;
}
.margin-Table{
    margin-top: 25px;
}


/*  font-family and font size*/
.table-Heading {
    font-size: 14px !important;
    font-family: Lato-Regular-font !important;
    font-weight: 100!important;
}

.drop-down-font {
    font-size: 14px !important;
    font-family: Lato-Regular-font !important;
    font-weight: 100;
}

.deposite-Content {
    font-size: 14px !important;
    font-family: Lato-Regular-font !important;
    font-weight: 100;
}

/* for depositetable */
.deposite-Table table {

    border-spacing: 0;
}

.deposite-Table tbody, .deposite-Table thead tr { 
    
    display: block;
    text-align: center;
 }

.deposite-Table tbody {
    height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}

.deposite-Table tbody td, .deposite-Table thead th {
    width: 175px;
    padding: 3px;
}
/* for depositiable table */

.ellipsis {
    max-width: 94px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.td-widthForSenderAddress{
        padding-left: 25px !important;
}

.td-widthForTransactionAddress{
       padding-left: 11px !important;
}


/* for loader */
.loader {
     border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #db2828;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spiner-position{
        position: absolute;
        top: 136px;
    left: 377px;
}

/* for loader */

.opecity-table{
      opacity: 0.5;
}

.copy-Text{
        position: relative;
        top: -52px;
    left: 238px;
}

.copyColor{
    
    color: #db2828;
}

/* .myloader {
    border: 16px solid white;
    border-radius: 50%;
    border-top: 16px solid #DB2828;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
      position: relative;
    bottom: 543px;
    left: 579px
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.backgroundScrool{
    background-color: lightgray;
     cursor: not-allowed;
     opacity: 0.2;
} */

