ul {
    list-style: none;
    display: inline-flex;
}

ul li {
    margin-right: 15px;
}

.qrCode {
    margin-top: 30px;
}

.input-box {
    text-align: -webkit-center;
    padding-top: 22px;
    text-align: -moz-center;
}


/* input {
    padding: 27px;
    width: 33%;
} */

.network {
    color: #db2828;
}

.genarate-button {
    background-color: #DB2828;
    opacity: none !important;
    border: none;
    padding: 11px;
    color: white;
    font-size: 11px !important;
    border-radius: 5px;
    outline: none;
    width: 21%;
}

.main-div {
    margin-top: 14px;
    /* margin-bottom: 66px; */
}

.margin-button {
    margin-top: 10px;
}

select.center-dropddown {
    background: #bdb4b4;
    width: 225px;
    padding: 7px;
    color: white;
    border: none;
    font-family: Lato-Regular-font !important;
    font-size: 11px !important;
}
.panel{
  background-color: #fff !important;
}


.coinNotFound {
    color: #DB2828;
    margin-top: 3px;
}

input[type="text"] {
    width: 33%;
    height:40px;
}

.deposit-bg-color {
    background-color: #FFF;
    padding-bottom: 0px;
    padding-top: 10px;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    font-weight: 300;
}
.deposit-container-padding {
    margin-top: 67px;
    margin-bottom: 51px;
}

.option-box {
    background-color: #FFF;
    color: black;
}


/* table */

.trade-History-table {
    border: 1px solid lightgray;
}

.border-left th {
    border-left: 1px solid lightgray;
    text-align: center;
}

.table-Content td {
    text-align: center;
}

.table-Head {
   background-color: #f8f8f8;
    color: #000;
    font-family: Lato-Regular-font !important;
    font-weight: 100!important;
}

.table-content-font {
    font-size: 11px !important;
    font-family: Lato-Regular-font !important;
    font-weight: 100!important;
}

.margin-Table {
    margin-top: 25px;
}


/*  font-family and font size*/

.table-Heading {
    font-size: 11px !important;
    font-family: Lato-Regular-font !important;
    font-weight: 100!important;
}

.drop-down-font {
    font-size: 11px !important;
    font-family: Lato-Regular-font !important;
    font-weight: 100;
}

.deposite-Content {
    font-size: 11px !important;
    font-family: Lato-Regular-font !important;
    font-weight: 100;
}


/* for depositetable */

.deposite-Table table {
    border-spacing: 0;
}

.deposite-Table tbody,
.deposite-Table thead tr {
    display: block;
    text-align: center;
}

.deposite-Table tbody {
    height: 351px;
    font-size: 11px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #dedede;
}

.deposite-Table tbody td,
.deposite-Table thead th {
    width: 189px;
    padding: 6px;
}


/* for depositiable table */

.ellipsis {
    max-width: 94px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.td-widthForSenderAddress {
    padding-left: 25px !important;
}

.td-widthForTransactionAddress {
    padding-left: 11px !important;
}


/* for loader */

.loader {
    border: 5px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #db2828;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spiner-position {
    position: absolute;
    top: 136px;
    left: 460px;
}


/* for loader */

.opecity-table {
    opacity: 0.5;
}

.copy-Text {
    position: relative;
    top: -47px;
    left: 205px;
}

.copyColor {
    color: #db2828;
}

.moreData {
    text-align: right;
    color: #DB2828;
    cursor: pointer;
}

.cursorPointer{
    cursor: pointer;
    margin-top: 6px;
}

.moreData:hover{
    text-decoration: underline;
    color: #DB2828;
}

@media screen and (min-width: 320px) and (max-width: 767px){

    .deposit-container-padding {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
