ul {
    list-style: none;
    display: inline-flex;
}

ul li {
    margin-right: 15px;
}

.qrCode {
    margin-top: 30px;
}

.input-box {
    text-align: -webkit-center;
    padding-top: 22px;
}

input {
    padding: 27px;
    width: 33%;
}

.network {
    color: #db2828;
}

.genarate-button {
    background-color: #DB2828;
    opacity: none !important;
    border: none;
    padding: 11px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    width: 21%;
}

.main-div {
    margin-top: 51px;
    margin-bottom: 66px;
}

.margin-button {
    margin-top: 10px;
}
select.center-dropddown {
    background: #DB2828;
    width: 225px;
    padding: 10px;
    color: white;
    border: none;
}
.coinNotFound{
    color:#DB2828; 
    margin-top: 3px;

}

input[type="text"]{
        width: 41%;
}

.deposit-bg-color{
    background-color: white;
}

.deposit-container-padding{
    margin-top: 67px;
    margin-bottom: 51px;
}

.hideoption{
    display:none; visibility:hidden; height:0; font-size:0;

}