<div class="container">
  <div class="row">
    <div class="col-sm-12 fee-details">

<h3>
  fees-details working on progress..........................................
</h3>

<p>Lorem Ipsum is simply dummy text of the printing
   and typesetting industry. Lorem Ipsum has been the
    industry's standard dummy text ever since the 1500s,
     when an unknown printer took a galley of type and
      scrambled it to make a type specimen book. It has 
      survived not only five centuries, but also the leap 
      into electronic typesetting, remaining essentiall
      y unchanged. It was popularised in the 1960s wi
      th the release of Letraset sheets containing Lor
      em Ipsum passages, and more recently with desktop
       publishing software like Aldus PageMaker includin
       g versions of Lorem Ipsum.</p>
    </div>
  </div>
</div>

