<div class="container">
  <div class="row">
    <div class="col-sm-11 col-sm-offset-1 fee-details">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading heading-content">Market Trading Fees</div>
                <div class="panel-body">
                  <div class="">
                    <table class="table table-striped trade-History-table border-left market-font-size">
                      <thead class="table-Head market-font-size ">
                        <tr>
                          <th class="text-center">Market</th>
                          <th class="text-center">Buy Fee</th>
                          <th class="text-center">Sell Fee</th>
                         

                        </tr>
                      </thead>
                      <tbody class="table-content-font text-center">
                        <tr>
                          <td>ETH/BTC</td>
                          <td>0.15%</td>
                          <td>0.15%</td>
                         </tr>
                        <tr>
                          <td>BLN/BTC</td>
                          <td>0.15%</td>
                          <td>0.15%</td>
                        
                        </tr>
                        <tr>
                          <td>BLN/ETH</td>
                          <td>0.15%</td>
                          <td>0.15%</td>
                        
                        </tr>
                        <tr>
                          <td>BLN/BTC</td>
                          <td>0.15%</td>
                          <td>0.15%</td>
                         
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>


            </div>
            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading heading-content">Withdrawal Fees</div>
                <div class="panel-body">
                  <div class="">
                    <table class="table table-striped trade-History-table border-left ">
                      <thead class="table-Head table-Heading market-font-size">
                        <tr>
                          <th class="text-center market-font-size text-center">Coin</th>
                          <th class="text-center market-font-size text-center ">Withdraw Fees</th>
                          <th class="text-center market-font-size text-center ">Deposit Fees</th>
                        </tr>
                      </thead>
                      <tbody class=" market-font-size">
                        <tr>
                          <td>BTC</td>
                          <td>0.001</td>
                          <td>N/A</td>
                        </tr>
                        <tr>
                          <td>ETH</td>
                          <td>0.01</td>
                          <td>N/A</td>
                        </tr>
                        <tr>
                          <td>BLN</td>
                          <td>1</td>
                          <td>N/A</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
