<div class="widgets">
   <div class="row">
      <div class="col-md-12 UserDetail">
         <ba-card cardTitle="User Details">
            <p-tabView>
               <p-tabPanel header="User Profile" style="padding:0px;">
                  <div class="tab-inner">
                     <div class="tab-inner1">
                        <div class="row">
                           <div class="col-md-12 actionBtn text-right">
                              <button class="btn btn-primary btn-with-icon"  (click)="isEdit=true" type="button">Edit</button>
                              <button class="btn btn-primary btn-with-icon" (click)="isEdit=false" type="button">Close</button>
                           </div>
                           <div class="col-md-6">
                              <div class="col-sm-10">
                                 <div class="form-group">
                                    <label for="inputFirstName">First Name</label>  
                                    <input class="form-control" *ngIf="!isEdit" (keydown.enter)="isEdit=false" id="inputFirstName" placeholder="First Name" type="text" disabled>
                                    <input class="form-control" *ngIf="isEdit" id="inputFirstName" placeholder="First Name" type="text" >
                                 </div>
                                 <div class="form-group">
                                    <label for="inputLastName">Last Name</label>
                                    <input class="form-control" *ngIf="!isEdit" (keydown.enter)="isEdit=false" id="inputLastName" placeholder="Last Name" type="text" disabled>
                                    <input class="form-control" *ngIf="isEdit" id="inputLastName" placeholder="Last Name" type="text" >
                                 </div>
                                 <div class="form-group">
                                    <label for="inputEmailName">Email Name</label>
                                    <input class="form-control" *ngIf="!isEdit" (keydown.enter)="isEdit=false" id="inputEmailName" placeholder="First Name" type="text" disabled>
                                    <input class="form-control" *ngIf="isEdit" id="inputEmailName" placeholder="First Name" type="text" >
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="col-sm-10">
                                 <div class="form-group">
                                    <label for="inputMobileName">Mobile Number</label>
                                    <input class="form-control" *ngIf="!isEdit" (keydown.enter)="isEdit=false" id="inputMobileName" placeholder="Mobile Name" type="text" disabled>
                                    <input class="form-control" *ngIf="isEdit" id="inputMobileName" placeholder="Mobile Name" type="text" >
                                 </div>
                                 <div class="form-group">
                                    <label for="inputFaxName">Fax Number</label>
                                    <input class="form-control" *ngIf="!isEdit" (keydown.enter)="isEdit=false" id="inputFaxName" placeholder="Fax Name" type="text" disabled>
                                    <input class="form-control" *ngIf="isEdit" id="inputFaxName" placeholder="Fax Name" type="text" >
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </p-tabPanel>
               <p-tabPanel header="KYC">
                  <div class="tab-inner">
                     <div class="tab-inner1">
                        <div class="row">
                           <div class="col-md-12">
                              <!--text data-->
                              <!--<div class="col-sm-6 marg0">
                                 <div class="notification">
                                    <div class="col-md-12">
                                       <ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions"></ba-picture-uploader>
                                    </div>
                                    <div class="col-md-12 msg-box">
                                       <div class="form-group">
                                          <textarea class="form-control" placeholder="Message"></textarea>
                                       </div>
                                    </div>
                                 </div>
                              </div>-->
                              <div class="row">
                                 <div class="col-md-6">
                                    <div class="col-sm-10">
                                       <div class="col-md-12">
                                       <ba-picture-uploader [picture]="profile.picture" [defaultPicture]="defaultPicture" [uploaderOptions]="uploaderOptions"></ba-picture-uploader>
                                    </div>
                                     </div>
                                 </div>
                                 <div class="col-md-6">
                                    <div class="col-sm-10">
                                        <div class="form-group">
                                        <label for="inputFirstName">First Name</label>  
                                        <input class="form-control" *ngIf="!isEdit" (keydown.enter)="isEdit=false" id="inputFirstName" placeholder="First Name" type="text" disabled>
                                         <input class="form-control" *ngIf="isEdit" id="inputFirstName" placeholder="First Name" type="text" >
                                         </div>
                                       <div class="form-group">
                                          <label for="inputMobileName">Name of Identity</label>
                                          <input class="form-control" *ngIf="!isEdit" (keydown.enter)="isEdit=false" id="inputMobileName" placeholder="Mobile Name" type="text" disabled>
                                          <input class="form-control" *ngIf="isEdit" id="inputMobileName" placeholder="Mobile Name" type="text" >
                                       </div>
                                     <div class="col-md-12 actionBtn text-right">
                                    <button class="btn btn-primary btn-with-icon"  (click)="isEdit=true" type="button">Approve</button>
                                    <button class="btn btn-primary btn-with-icon" (click)="isEdit=false" type="button">DisApprove</button>
                                    </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </p-tabPanel>
               <p-tabPanel header="Order Book">
                  <div class="tab-inner">
                     <div class="tab-inner1">
                        <div class="row">
                           <div class="col-md-12 ">
                               <div class="col-md-6">
                              <div class="col-sm-10">
                                  <table class="table table-bordered table table-hover">
                              <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Price(BTC)</th>
                                    <th>Amount(ETH)</th>
                                    <th>Total(BTC)</th>
                                    <th>Rate/Stop</th>
                                    <th>Date</th>
                                    <th>Action</th>
                               </thead>
                              <tbody>
                                 <tr>
                                    <td>Buy</td>
                                    <td>0.287819</td>
                                    <td>0.331211</td>
                                    <td>0.331211</td>
                                    <td>0.331211</td>
                                    <td>05/1/2017</td>
                                    <td>Cancel</td>
                                 </tr>
                                 <tr>
                                    <td>Sell</td>
                                    <td>0.287819</td>
                                    <td>0.331211</td>
                                    <td>0.331211</td>
                                    <td>0.331211</td>
                                    <td>05/1/2017</td>
                                     <td>Cancel</td>
                                 </tr>
                                <tbody>
                              </table>
                              </div>
                             </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </p-tabPanel>
            </p-tabView>
         </ba-card>
      </div>
   </div>
</div>