

.login-content {
    margin-top: 80px;
    box-shadow: 0px -2px 3px 0px;
    width: 942px;
    margin-left: 80px;
    margin-bottom:89px;
}
img.img-login {
    width: 411px;
    height: 650px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: 11px;
   font-family: Lato;

}
img.img-header{
    
	top: 0;
	left: 0;
}
.text-center {
    text-align: center;
    padding: 26px;
}
.text-left {
    text-align: left;
    color: #ca1c09;
    text-transform: uppercase;
    font-size: 15px;

}

  .input-group input{
    height: 38px;
  }
  .input-icon{
    position: relative;
    float: left;
    width: 100%;
    border-radius: 0;
  }
  .input-icon input{
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .input-icon img{
    right: 10px;
    position: absolute;
    top: 8px;
    z-index: 99999;
  }
  
  .btn-success {
    color: #ffffff;
    width: 320px;
    background-color:  #DB2828;
    border-color:  #DB2828;
    font-family: Lato;
    margin-left: 15px;
    margin-top: 11px;
}
   .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #DB2828;
    border-color: #DB2828;
}
span.condition {
    color: #0085ff;
}
h4.create-text {
    margin: 12px;
    text-transform: uppercase;
    font-size: 18px;
    color:#DB2828;
}
.input-group {
    position: relative;
    display: table;
    width: 329px;
    padding: 4px;
    border-collapse: separate;
    margin: 11px;
    font-family: Lato;
}

.checkbox {
    padding: 15px;
}