<div class="container">
  <div class="login-content">
    <div class="row">
      <div class="col-md-6 col-xs-6">
        <img src="assets/images/login-img.png" class="img-login">
      </div>
      <div class="col-md-4 col-xs-6">
<div class="sign-block">
        <div class="text-center">
          <img src="assets/images/bolenum.png" class="img-header">
        </div>
        <h4 class="create-text">Create new</h4>
        <form #signUpForm=ngForm (submit)="signUpUser(signUpForm)">
          <div class="input-group">
            <span class="input-group-addon"><img src="assets/images/Email.png"></span>
            <input id="FirstName" type="text" class="form-control" name="email" [(ngModel)]="user.emailId" #email="ngModel" placeholder="JonhArr12@gmail.com" email required>
          </div>
          <span *ngIf="email.invalid && signUpForm.submitted">
              <span class="text-danger" *ngIf="email.errors.required">Please enter email</span>
          <span class="text-danger" *ngIf="email.errors.email && !email.errors.required">Please enter valid email</span>
          </span>
          <div class="input-group">
            <span class="input-group-addon"><img src="assets/images/Email.png"></span>
            <input id="FirstName" type="text" class="form-control" name="FirstName" [(ngModel)]="user.firstName" #firstName="ngModel" placeholder="First Name" required>
          </div>
          <span *ngIf="firstName.invalid && signUpForm.submitted">
              <span class="text-danger" *ngIf="firstName.errors.required">Please enter first name</span>
          </span>
          <div class="input-group">
            <span class="input-group-addon"><img src="assets/images/Email.png"></span>
            <input id="LastName" type="text" class="form-control" name="LastName" [(ngModel)]="user.lastName" #lastName="ngModel" placeholder="Last Name">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><img src="assets/images/pasword.png"></span>
            <input id="Create Password" type="password" class="form-control" name="Create Password" [(ngModel)]="user.password" #password="ngModel" placeholder="Create Password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).{8,64}$" required>
          </div>
          <span *ngIf="password.invalid && signUpForm.submitted">
              <span class="text-danger" *ngIf="password.errors.required">Please enter password</span>
              <span class="text-danger" *ngIf="password.errors.pattern">Password not strong enough(length between 8 to 64, 1 lowercase letter, 1 uppercase letter, 1 digit, 1 special character, no white space) </span>
          </span>
          <div class="input-group">
            <span class="input-group-addon"><img src="assets/images/pasword.png"></span>
            <input id="Conform Password" type="password" class="form-control" name="Conform Password" [(ngModel)]="user.repassword" #repassword="ngModel" placeholder="Confirm Password" required>
          </div>
          <span *ngIf="repassword.invalid && signUpForm.submitted">
              <span class="text-danger" *ngIf="repassword.errors.required">Please enter confirm password</span>
          </span>
          <span class="text-danger" *ngIf="user.repassword!=user.password && !repassword.invalid">Passwords did not matched</span>
          <div class="checkbox custom-checkbox">
            <!--<input type="checkbox" value="I hearbly Accept All"> I hearby Accept all <span class="condition">term & condition.</span>-->
             <input type="checkbox" name="termConditions" [(ngModel)]="user.termConditions" id="test1" />
            <label for="test1">I hearby Accept <a>all terms & condition.</a></label>
            <!--<label>
			    	    		<input name="remember" type="checkbox" value="I hearbly Accept All"> I hearby Accept all <span class="condition">term & condition.</span>
			    	    	</label>-->
          </div>
          <button type="submit" [disabled]=!user.termConditions class="btn btn-success">SIGN UP</button>

        </form>
      </div>
    </div>
    </div>
  </div>
<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
