

/* font-family and fontsize */

.login-content {
    margin-top: 80px;
    
    width: 84%;
    margin-left: 80px;
    margin-bottom:89px;
}
img.img-login {
    width: 411px;
    height: 747px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: 11px;
   /* font-family: Lato; */

}
img.img-header {
    top: 0;
    left: 0;
    margin-left: -65px;
}
.text-center {
    text-align: center;
    
    margin-top: 66px;
}
.text-left {
    text-align: left;
    color: #ca1c09;
    text-transform: uppercase;
    /* font-size: 15px; */

}

.input-group-addon:first-child {
    border-right: 0;
    background: none;
}

  .input-group input {
    height: 41px;
    /* font-size: 15px; */
}
  .input-icon{
    position: relative;
    float: left;
    width: 100%;
    border-radius: 0;
  }
  .input-icon input{
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .input-icon img{
    right: 10px;
    position: absolute;
    top: 8px;
    z-index: 99999;
  }

  .btn-success {
    color: #ffffff;
    width: 303px;
    background-color:  #DB2828;
    border-color:  #DB2828;
    /* font-family: Lato; */
    /* margin-left: 15px; */
    margin-top: 22px;
    outline:none;
}
   .btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.dropdown-toggle.btn-success.focus, .open>.dropdown-toggle.btn-success:focus, .open>.dropdown-toggle.btn-success:hover {
    color: #fff;
    background-color: #DB2828;
    border-color: #DB2828;
}
.btn-success[disabled]:hover {
    color: #fff;
    background-color: #DB2828;
    border-color: #DB2828;
}
span.condition {
    color: #0085ff;
}
h4.create-text {
    /* margin: 12px; */
    /* text-transform: uppercase; */
    /* font-size: 18px; */
    color:#DB2828;
        margin-right: 73px;
    margin-top: 27px;
}
.input-group {
    position: relative;
    display: table;
    width: 329px;
    padding: 4px;
    border-collapse: separate;
    margin: 11px;
    /* font-family: Lato; */
}

.checkbox {
    padding: 15px;
}



.custom-checkbox input[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.custom-checkbox input[type="checkbox"]:not(:checked) + label,
.custom-checkbox input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
.custom-checkbox input[type="checkbox"]:not(:checked) + label:before,
.custom-checkbox input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.custom-checkbox input[type="checkbox"]:not(:checked) + label:after,
.custom-checkbox input[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .1em;
  /* font-size: 1.3em; */
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
.custom-checkbox input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox input[type="checkbox"]:disabled:not(:checked) + label:before,
.custom-checkbox input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.custom-checkbox input[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.custom-checkbox input[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
.custom-checkbox input[type="checkbox"]:checked:focus + label:before,
.custom-checkbox input[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px gray;
}

/* hover style just for information */
.custom-checkbox label:hover:before {
  border: 2px solid #D4D4D4!important;
}
.text-danger {
    color: #a94442;
    margin: 16px;
}
.sign-block {
     margin: 17px;
}

a:focus, a:hover {
    color: rgba(12, 101, 172, 0.9);
    text-decoration: underline;
}

@media screen and (min-width: 320px) and (max-width: 767px){
  
   img.img-login {
   width: 100%;
    height: auto;;
}
.login-content {
    margin-top: 80px;
    box-shadow: 0 0 27px #eee;
    width:100%;
    margin-left:0px;
    margin-bottom: 87px;
}
.login-text {
    
    margin-right: 0px;
}
img.img-header{
    margin-left: 16px;}

.input-group {
   width:100%
  }
 .btn-success {
   width:79%;
   }
   .sign-block {
     width: 85%;
}
 }
/*start media for mobile device*/

 @media screen and (min-width: 768px) and (max-width: 1023px){
  img.img-login {
   width: 100%;
    }
.login-content {
    margin-top: 80px;
    box-shadow: 0 0 27px #eee;
    width:99%;
    margin-left:0px;
    margin-bottom: 87px;
}
  .login-text {
    
    margin-right: 0px;
  }
 .input-group {
   width:80%
  }
  .btn-success {
   width:79%;
   }
}

.captch-padding{

    padding-left: 29px;
}
