<div class="container-fluid">
   <div class="row">
      <img src="assets/images/header (1).png"class="img-responsive">
      <img src="assets/images/wallet_icon.png" class="wallet-icon">
      <div class="tab_container">
         <input id="tab1" type="radio" name="tabs" checked>
         <label for="tab1">
         <img src="assets/images/bitcoin_withdraw.png"><br>
         <span>Withdrawal</span></label>
         <input id="tab2" type="radio" name="tabs">
         <label for="tab2"> <img src="assets/images/bitcoin_withdraw_ufpng.png"><br>
         <span>Deposit</span></label>
         <input id="tab3" type="radio" name="tabs">
         <label for="tab3"><img src="assets/images/history_uf.png"><br>
         <span>History</span></label>
        
         <!--section start-->
         <section id="content1" class="tab-content">
            <div class="container-fluid">
               <div class="row">
                <div class="col-md-12" class="img-walet" >
               <img src="assets/images/bitcoin_withdraw.png" >
               <p class="text1">Available Balance 0.2156 </p>
            </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                
                </div>
              </div>
            </div>
          </section>
         <section id="content2" class="tab-content">
            <h3>Headline 2</h3>
            <p>Tab 2 content.</p>
         </section>
         <section id="content3" class="tab-content">
            <h3>Headline 3</h3>
            <p>Tab 3 content</p>
         </section>
         <section id="content4" class="tab-content">
            <h3>Headline 4</h3>
            <p>tab 4 Content</p>
         </section>
         <section id="content5" class="tab-content">
            <h3>Headline 5</h3>
            <p>Tab 5 Content.</p>
         </section>
      </div>
   </div>
</div>