.container-fluid {
    background: lightgrey;
    
}*/
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family:Lato;
	
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}


.tab_container {
	width: 63%;
	margin: 0 auto;
    position: relative;
}

input, section {
  clear: both;
  padding-top: 20px;
  display: none;
}



label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 32%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background:#FFFFFF;
  min-height: 130px;

}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  /*padding: 20px;*/
  /*background:white;*/
  color: #999;

}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label:active {
    transform: scale(1,1);
}  
.tab_container [id^="tab"]:checked + label {
  border-bottom: 3px solid #DB2828;;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
  box-shadow: 0 0 9px #636363;
  
  transform: scale(1.1,1.1)
}

.tab_container [id^="tab"]:checked + label:active .img.img1 {
  color: #DB2828;
  
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

img.wallet-icon {
    position: absolute;
    top: 250px;
     left: 575px;

}
img.profile-img {
    height: 330px;
    width: 100%;
}
/* start withdraw section*/
.text-image-div {
    background-color: #f3f3f3;
    padding-bottom: 34px;
    padding-top: 37px;
}

.balance-text {
    margin-top: 8px;
    /* font-size: 24px; */
    font-size: 21px;
    color: #b2a89b;
}

.top-margin-field {
    margin-top: 33px;
}

.label-text-color {
    color: #b2a89b;
}

.red-text-color {
    color: #DB2828;
}

.main-div-margin {
    margin-bottom: 76px;
    margin-top: 38px;
}

.button-padding {
    padding-left: 43px;
    padding-top: 5px;
}

.submit-button {
    background-color: #DB2828;
    opacity: none !important;
    border: none;
    padding: 8px;
    color: white;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    width: 25%;
}select.center-dropddown {
    background: #DB2828;
    width: 175px;
    padding: 10px;
    color: white;
    border: none;
}
.col-md-12.withdraw-dropdown {
    text-align: center;
    margin-top: 30px;
}




/* start deposit section*/
 /*start history section*/








/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}



@media only screen and (max-width: 768px) {
  label span {
    display: none;
  }
  label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
  img.wallet-icon {
   
    position: absolute;
    top: 210px;
    left: 211px;
}
label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 32%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	transform: scale(0.9);
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}