<div class="container wallet-contain ">
  <div class="row wallet-background-img">
    <div class="col-md-12 ">
      <img src="assets/images/wallet_icon.png" class="wallet-image">
    </div>
  </div>
</div>
<div class="container background">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4">
        <div class="tab-wallet" routerLinkActive="active" [routerLink]="['withdraw']">
          <div class="img1"><br><br><br><br>&nbsp;
         </div>
          <p class="wallet text-center">Withdrawal</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="tab-wallet" routerLinkActive="active" [routerLink]="['deposit']">
          <div class="img2"><br><br><br><br>&nbsp;
            </div>
          <p class="wallet text-center">Deposit</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="tab-wallet" routerLinkActive="active" [routerLink]="['history']">
          <div class="img3"><br><br><br><br>&nbsp;
            </div>
           <p class="wallet text-center">History</p>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>