.wallet-background-img {
    background-image: url("/assets/images/header (1).png");
    background-repeat: no-repeat;
    background-position: top;
    height: 282px;
    width: 100%;
    margin: 0;
}
.container.wallet-contain {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
   margin: 0;
}
img.wallet-image {
    position: absolute;
    top: 31px;
    left: 518px;
}
.container.background {
 background: #F8F8F8;
 margin-left: 0px;
    margin-right: 0px;
    width: 100%;

}

.tab-wallet {
    background: #FFFFFF;
    border-radius: 6px;
    -webkit-box-shadow: 0 8px 6px -6px #eee;
    border-top-left-radius: 5px;
    border-top-right-radius:5px;
    margin: -21px;
    position: relative;
    }
.tab-wallet.active{
    border-bottom: 4px solid#DB2828;
    border-top-left-radius: 4px;
    border-top-right-radius:4px;
    box-shadow: 0 0 9px #636363;
    transform: scale(1.1,1.1);
    z-index: 100;
    position: relative;
    outline: 0;
}
.tab-wallet.focus{
    outline: none!important;
}
.tab-wallet .img1{
   background-repeat: no-repeat;
   background-position: center;
   background-image: url("/assets/images/bitcoin_withdraw_uf.png")

  }
  .tab-wallet .img2{
  background-repeat: no-repeat;
   background-position: center;
  background-image: url("/assets/images/bitcoin_withdraw_ufpng.png")
  }
.tab-wallet .img3{
  background-repeat: no-repeat;
   background-position: center;
  background-image: url("/assets/images/history_uf.png")
  }
.tab-wallet.active .img1{
  background-repeat: no-repeat;
   background-position: center;
  background-image: url("/assets/images/bitcoin_withdraw.png")

  }
  .tab-wallet.active .img2{
  background-repeat: no-repeat;
   background-position: center;
  background-image: url("/assets/images/bitcoin_withdraw_fpng.png")
  }
  .tab-wallet.active .img3{
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/assets/images/history_f.png")
  }

 p.wallet.text-center {
    color: #747474;
    font-size: 18px;
    font-weight: 500;
}


/*start media for mobile device*/
@media screen and (min-width: 320px) and (max-width: 767px){
  .container.wallet-contain {
    width: 100%;
   }

img.wallet-image {
    position: absolute;
    max-width: 37%;
    top: 66px;
    left: 30%;
}
p.wallet.text-center {
   font-size: 15px;
}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
img.img-login {
   width: 100%;
 }
.container.wallet-contain {
  width: 100%;
}
img.wallet-image {
    position: absolute;
    top: 31px;
    left: 280px;
}
 }

 .content-new{
     margin-right: 0px;
    margin-left: 0px;
 }

 
