<div class="container-fluid">
   <div class="row">
      <img src="assets/images/header.png"class="img-responsive">
      <div class="tab_container">
         <input id="tab1" type="radio" name="tabs" checked>
         <label for="tab1">
         <img src="assets/images/profile (1).png"><br>
         <span>Profile</span></label>
         <input id="tab2" type="radio" name="tabs">
         <label for="tab2"><i class="fa fa-pencil-square-o"></i><br>
         <span>Bank Details</span></label>
         <input id="tab3" type="radio" name="tabs">
         <label for="tab3"><i class="fa fa-bar-chart-o"></i><br>
         <span>KYC Details</span></label>
         <section id="content1" class="tab-content">
           
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-6" style="background-color:#FFFFFF">
                    <img src="assets/images/mail.png" class="img-profile">
                     <p class="icon-name">Email/Username</p>
                     <p class="input-text">johnarr123@gmail.com</p>
                     </div>
                  <div class=" col-md-6" style="background-color:#FFFFFF">
                     <p class="text-title"> Profile verification</p>
                     <p class="text1">Daily withdrawal limit calculated in USD equivalent per day.</p>
                     <p class="text2">daily withdrawal limit <span class="dolor"> $25,000</span>
                        USD equivalent margin trading <span class="dolor"> Enabled.</span>
                     </p>
                     <a href="#" class="btn btn-dark-blue">ATTENSION REQURIED</a>		
                     <p class="text3"> Please upload an image of yourself holding your photo ID and scan of photo IDhttp://poloniex</p>
                  </div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="new-data">
                  <div class="row">
                     <div class="col-md-12" style="background:#FFFFFF ">
                        fgd. f////
                     </div>
                  </div>
               </div>
            </div>
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-12" style="background:#FFFFFF ">
                     <p class="last-prof">Once you profile has been verified & you have enable 2FA account security,you may request a higher limit by contacting support
                 <hr>
                  
   <button type="submit" class="btn btn-defaults">Save profile</button>
                  </div>
               </div>
            </div>
         </section>
         <section id="content2" class="tab-content">
            <h3>Headline 2</h3>
            <p>Tab 2 content.</p>
         </section>
         <section id="content3" class="tab-content">
            <h3>Headline 3</h3>
            <p>Tab 3 content</p>
         </section>
         <section id="content4" class="tab-content">
            <h3>Headline 4</h3>
            <p>tab 4 Content</p>
         </section>
         <section id="content5" class="tab-content">
            <h3>Headline 5</h3>
            <p>Tab 5 Content.</p>
         </section>
      </div>
   </div>
</div>