<div class="container-fluid">
  <div class="row">
    <div class="top-header">
      <div class="top-profile">
        <!--<img src="assets/images/header (1).png" class="profile-img">-->


        <div class="slider-info">
          <div class="header-text" style="position: static;">
            <img [src]="profilePic" class="porf-pic upload-profile" height="140" width="140" style="border-radius: 10px;border: 3px solid;border-color: white;">
            <input class="from-newtext upload-profile" type="file" #profileImage accept="image/x-png,image/jpeg" (change)="onChange($event)"
              id="user">
          </div>
          <div class="slider-title">
            <div class="profile-text" style="position: static;">
              <p class="top-text profile-font heading-font-size">{{ userFirstName }} {{ userLastName }}</p>
            </div>
            <div class="head-icon" style="position: static;">
              <img src="assets/images/mail (1).png">&nbsp;<span class="profile-font content-font-size">{{emailId}}</span>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="tab_container">
      <input id="tab1" type="radio" name="tabs" checked>
      <label for="tab1">
            <div class="img-tab"><br><br><br><br>
               <span class="profile-font heading-font-size">Profile</span>
            </div>
         </label>
      <input id="tab2" type="radio" name="tabs">
      <label for="tab2" (click)="getUserBankDetails()">
            <div class="img-tab1"><br><br><br><br>
               <span class="profile-font heading-font-size">Bank Details</span>
            </div>
         </label>
      <input id="tab3" type="radio" name="tabs">
      <label for="tab3">
            <div class="img-tab2" (click)="getKycDetailsUser()"><br><br><br><br>
               <span class="profile-font heading-font-size">KYC Details</span>
            </div>
         </label>
      <!--profile-->
      <section id="content1" class="tab-content mob-tab-content">
        <div class="container-fluid">
          <div class="row">
            <div *ngIf="!isDetailsEdit" class="col-md-6 col-sm-6">
              <div class="col-backgrnd">
                <div class="email-part">
                  <div class="email-img">
                    <img src="assets/images/profile.png" class="img-profile">
                  </div>
                  <div class="email-text">
                    <p class="icon-name profile-font sub-heading-font-size">First Name<br>
                      <p class="text-icon profile-font content-font-size">{{userProfile.firstName}}</p>
                  </div>
                </div>
                <div class="email-part">
                  <div class="email-img">
                    <img src="assets/images/profile.png" class="img-profile">
                  </div>
                  <div class="email-text">
                    <p class="icon-name profile-font sub-heading-font-size">Last Name<br>
                      <p class="text-icon profile-font content-font-size">{{userProfile.lastName}}</p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="email-part">
                  <div class="email-img">
                    <img src="assets/images/DOB.png" class="img-profile">
                  </div>
                  <div class="email-text">
                    <p class="icon-name profile-font sub-heading-font-size">Date of birth<br>
                      <p class="text-icon profile-font content-font-size">{{userProfile.dob | date}}</p>
                  </div>
                </div>
                <div class="email-part">
                  <div class="email-img">
                    <img src="assets/images/location_black.png" class="img-profile">
                  </div>
                  <div class="email-text">
                    <p class="icon-name profile-font sub-heading-font-size">Address<br>
                      <p class="text-icon profile-font content-font-size ">{{userProfile.address}}</p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="email-part">
                  <div class="email-img">
                    <img src="assets/images/location_black.png" class="img-profile">
                  </div>
                  <div class="email-text">
                    <p class="icon-name profile-font sub-heading-font-size">
                      Country<br>
                      <p class="text-icon profile-font content-font-size">{{userProfile.country}}</p>
                  </div>
                </div>
                <div class="email-part">
                  <div class="email-img">
                    <img src="assets/images/location_black.png" class="img-profile">
                  </div>
                  <div class="email-text">
                    <p class="icon-name profile-font sub-heading-font-size">
                      State<br>
                      <p class="text-icon profile-font content-font-size ">{{userProfile.state}}</p>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="profile-button">
                  <button type="button" class="btn btn-successsave profile-font text-uppercase butoon-font" (click)=editDetails()>Edit Details</button>
                </div>
              </div>
            </div>
            <form #editForm=ngForm (submit)="saveDetails(editForm)" *ngIf="isDetailsEdit">
              <div class="col-md-6">
                <div class="col-backgrnd">
                  <div class="email-part">
                    <div class="email-img">
                      <img src="assets/images/profile.png" class="img-profile">
                    </div>
                    <div class="email-text">
                      <p class="icon-name profile-font sub-heading-font-size">First Name<br>
                        <input type="texts" class="from-newtext" name="firstName" [(ngModel)]="userProfile.firstName" #firstName="ngModel" minlength="3"
                          id="usr" required nonumberspecialcharacter>
                        <span *ngIf="firstName.invalid && editForm.submitted">
                                 <span class="text-danger profile-font content-font-size" *ngIf="firstName.errors.required">Please enter first name</span>
                        <span class="text-danger profile-font content-font-size" *ngIf="firstName.errors.minlength">First name length must be 3 characters and above</span>
                        </span>
                    </div>
                  </div>
                  <div class="email-part">
                    <div class="email-img">
                      <img src="assets/images/profile.png" class="img-profile">
                    </div>
                    <div class="email-text">
                      <p class="icon-name profile-font sub-heading-font-size">Last Name<br>
                        <input type="texts" class="from-newtext" name="lastName" [(ngModel)]="userProfile.lastName" #lastName="ngModel" minlength="3"
                          id="usr" nonumberspecialcharacter>
                        <span *ngIf="lastName.invalid && editForm.submitted">
                                 <span class="text-danger profile-font content-font-size" *ngIf="lastName.errors.minlength">Last name length must be 3 characters and above</span>
                        </span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="email-part">
                    <div class="email-img">
                      <img src="assets/images/DOB.png" class="img-profile">
                    </div>
                    <div class="email-text">
                      <p class="icon-name profile-font sub-heading-font-size ">Date of birth<br>
                        <div class="date-picker">
                          <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="dob" #dateofbirth="ngModel" required></my-date-picker>
                        </div>
                        <span *ngIf="dateofbirth.invalid && editForm.submitted">
                              <span class="text-danger profile-font content-font-size " *ngIf="dateofbirth.errors.required">Please enter dob</span>
                        </span>
                    </div>
                  </div>
                  <div class="email-part">
                    <div class="email-img">
                      <img src="assets/images/location_black.png" class="img-profile">
                    </div>
                    <div class="email-text">
                      <p class="icon-name profile-font sub-heading-font-size">Address<br>
                        <input type="texts" class="from-newtext" name="address" [(ngModel)]="userProfile.address" #address="ngModel" id="usr" required>
                        <span *ngIf="address.invalid && editForm.submitted">
                                 <span class="text-danger profile-font content-font-size" *ngIf="address.errors.required">Please enter address</span>
                        </span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="email-part">
                    <div class="email-img">
                      <img src="assets/images/location_black.png" class="img-profile">
                    </div>
                    <div class="email-text">
                      <p class="icon-name profile-font sub-heading-font-size">
                        Country<br>
                        <select class="from-newtext profile-font" name="country" [(ngModel)]="country" (ngModelChange)="getStatesByCountryId($event)"
                          #cty="ngModel" id="usr">
                                 <option [disabled]="true" [selected]="true" class="sub-heading-font-size">Choose Country</option>
                                 <option [ngValue]="country.name" *ngFor="let country of countries" class="content-font-size">{{country.name}}</option>
                                 </select>
                        <span class="text-danger profile-font content-font-size" *ngIf="countryError">Please choose country</span>
                    </div>
                  </div>
                  <!--<div class="clearfix"></div>-->
                  <div class="email-part">
                    <div class="email-img">
                      <img src="assets/images/location_black.png" class="img-profile">
                    </div>
                    <div class="email-text">
                      <p class="icon-name profile-font sub-heading-font-size">
                        State<br>
                        <select class="from-newtext profile-font" name="state" [(ngModel)]="state" #st="ngModel" (ngModelChange)="changeState($event)"
                          id="usr">
                                 <option [disabled]="true" [selected]="true" class="sub-heading-font-size">Choose State</option>
                                 <option [ngValue]="state.stateName" *ngFor="let state of states" class="content-font-size">{{state.stateName}}</option>
                                 </select>
                        <span class="text-danger profile-font content-font-size" *ngIf="stateError">Please choose state</span>
                    </div>
                  </div>
                  <div class="profile-button">
                    <button type="submit" class="btn btn-successsavedetail profile-font butoon-font">Save Details</button>
                  </div>
                </div>
              </div>
            </form>
            <div class=" col-md-6 col-sm-6 ">
              <div class="profile-col">
                <p class="text-title profile-font profile-fontSize"> Profile verification</p>
                <p class="text1 profile-font content-font-size">Daily withdrawal limit is calculated in USD equivalent per day.</p>
                <p class="text2 profile-font content-font-size">Daily withdrawal limit <span class="dolor"> $100,000</span><span> USD equivalent.</span>
                  <span class="dolor"></span>
                </p>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <span class="font-1 profile-font sub-heading-font-size">Mobile 2 Factor Authentication</span>
                  </div>
                  <div class="col-md-6">
                    <div class="toggle-switch">
                      <label class="switch">
                                 <input type="checkbox" name="2fa" [(ngModel)] = "twoFa" (ngModelChange)="chenge2Fa($event)">
                                 <span class="slider round" ></span>
                                 </label>
                    </div>
                  </div>
                  <!-- for mobile verification -->

                  <div class="row">
                    <div class="col-sm-12 mobile-verification">
                      <div class="email-part">
                        <div class="email-img">
                          <img src="assets/images/mobile.png" class="img-profile">
                        </div>
                        <div class="email-text">
                          <p class="icon-name profile-font sub-heading-font-size">Mobile No &nbsp;
                            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)=editMobile()></i>
                            <p *ngIf="!isMobileEdit" class="text-icon profile-font content-font-size">{{mobileNumber}}</p>
                            <form *ngIf="isMobileEdit" #mobileForm=ngForm (submit)="saveMobile(mobileForm)">
                              <div class="phone_number-margin">

                                <div class="row">
                                  <div class="col-sm-12">
                                    <div class="row">
                                      <div class="col-sm-3">
                                        <input type="text" class="from-newtext" name="CountryCode" [(ngModel)]="countryCode" #CountryCode="ngModel" id="usrcode"
                                          required onlynumber disabled>
                                      </div>
                                      <div class="col-sm-9">
                                        <input type="text" class="from-newtext" name="mobileNumber" maxlength="10" [(ngModel)]="mobileNumber" #number="ngModel" id="usrphone"
                                          required onlynumber>
                                          <span *ngIf="mobileNumber=='' && !number.invalid  && mobileForm.submitted">
                                         <p class="text-danger otp-error profile-font content-font-size">Please enter mobile number</p>
                                         </span>
                                        <span *ngIf="number.invalid && mobileForm.submitted">
                                       <p class="text-danger otp-error profile-font content-font-size" *ngIf="number.errors.required">Please enter mobile number</p>
                                       </span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- <input type="text" class="from-newtext" name="CountryCode" [(ngModel)]="countryCode" #CountryCode="ngModel" id="usrcode"
                                  required onlynumber disabled>
                                   <input type="text" class="from-newtext" name="mobileNumber" maxlength="10" [(ngModel)]="mobileNumber" #number="ngModel" id="usrphone"
                                required onlynumber>
                              <span *ngIf="number.invalid && mobileForm.submitted">
                                       <p class="text-danger otp-error profile-font content-font-size" *ngIf="number.errors.required">Please enter mobile number</p>
                                       </span> -->
                              </div>
                              <button type="submit" class="btn btn-successsave profile-font butoon-font ">Save Mobile Number</button>
                            </form>
                            <form *ngIf="isOtpEdit" #otpForm=ngForm (submit)="verifyOtp(otpForm)">
                              <input type="text" class="from-newtext" name="otp" [(ngModel)]="otp" #otpField="ngModel" id="usr" required onlynumber>
                              <span *ngIf="otpField.invalid && otpForm.submitted">
                                       <span class="text-danger profile-font" *ngIf="otpField.errors.required">Please enter otp</span>
                              </span>
                              <button type="submit" class="btn btn-successsave profile-font">Verify Otp</button>
                              <a (click)="reSendOtp()" class="profile-font">Resend Otp</a>
                            </form>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- for mobile verification -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="container-fluid">
          <div class="new-data">
            <div class="row">
              <div class="col-md-12 col-sm-6">
                <div class="verify-col clearfix">
                  <div class="col-lg-6 col-sm-6 col-md-6">
                    <div class="custom-data">
                      <div class="clearfix"></div>
                      <div class="email-part">
                        <div class="email-img">
                          <img src="assets/images/mobile.png" class="img-profile">
                        </div>
                        <div class="email-text">
                          <p class="icon-name profile-font sub-heading-font-size">Phone No &nbsp;
                            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)=editMobile()></i>
                            <p *ngIf="!isMobileEdit" class="text-icon profile-font content-font-size">{{mobileNumber}}</p>
                            <form *ngIf="isMobileEdit" #mobileForm=ngForm (submit)="saveMobile(mobileForm)">
                              <div class="phone_number-margin">
                                <input type="text" class="from-newtext" name="CountryCode" [(ngModel)]="countryCode" #CountryCode="ngModel" id="usrcode" required onlynumber disabled>
                              </div>
                              <input type="text" class="from-newtext" name="mobileNumber" maxlength="10" [(ngModel)]="mobileNumber" #number="ngModel" id="usrphone" required onlynumber>
                              <span *ngIf="number.invalid && mobileForm.submitted">
                                       <p class="text-danger otp-error profile-font content-font-size" *ngIf="number.errors.required">Please enter mobile number</p>
                                       </span>
                              <button type="submit" class="btn btn-successsave profile-font butoon-font ">Save Mobile Number</button>
                            </form>
                            <form *ngIf="isOtpEdit" #otpForm=ngForm (submit)="verifyOtp(otpForm)">
                              <input type="text" class="from-newtext" name="otp" [(ngModel)]="otp" #otpField="ngModel" id="usr" required onlynumber>
                              <span *ngIf="otpField.invalid && otpForm.submitted">
                                       <span class="text-danger profile-font" *ngIf="otpField.errors.required">Please enter otp</span>
                              </span>
                              <button type="submit" class="btn btn-successsave profile-font">Verify Otp</button>
                              <a (click)="reSendOtp()" class="profile-font">Resend Otp</a>
                            </form>
                        </div>
                      </div>
                      <div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-xs-12">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </section>
      <!--bank detail-->
      <section id="content2" class="tab-content">
        <div class="row" *ngIf="isCustomerView">
          <div class="col-md-12">
            <div class="col-md-6 bank-details-card-width" *ngFor="let customerData of getOurBankDetails">
              <div class="bank-backgrnd bank-details-padding">
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <div class="col-md-6">
                      <p class="bank-text profile-font sub-heading-font-size"> Bank Name </p>
                    </div>
                    <div class="col-md-6">
                      <p class="bank-icon profile-font content-font-size "> {{customerData.bankName}}</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <p class="bank-text profile-font sub-heading-font-size"> Account Holder Name </p>
                    </div>
                    <div class="col-md-6">
                      <p class="bank-icon profile-font content-font-size "> {{customerData.accountHolderName}}</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <p class="bank-text profile-font sub-heading-font-size"> Account Number </p>
                    </div>
                    <div class="col-md-6">
                      <p class="bank-icon bank-projectAccount profile-font content-font-size " title="{{customerData.accountNumber}}"> {{customerData.accountNumber}}</p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-6">
                      <p class="bank-text profile-font sub-heading-font-size "> BVN Code </p>
                    </div>
                    <div class="col-md-6">
                      <p class="bank-icon profile-font content-font-size "> {{customerData.ifscCode}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- bank-details -->
      <section id="content2" class="tab-content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 col-xs-6 user-bank-details" *ngIf=accounDetails>
              <form #customerDetaisForm="ngForm" (ngSubmit)=" customerDetails(customerDetaisForm)" autocomplete="false">
                <div class="col-md-10 col-md-offset-2 form-left">
                  <div class="row margin-balance-details">
                    <div class="col-md-5 balance-details">
                      <p class="bank-text profile-font sub-heading-font-size"> Account Holder Name</p>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="usr" name="name" [(ngModel)]="bankDetails.accountHolderName" #name="ngModel"
                        required autocomplete="off">
                      <!-- errors msg-->
                      <div *ngIf="name.invalid && (name.dirty || name.touched || customerDetaisForm.submitted )" class="error-msg">
                        <div *ngIf="name.errors.required">
                          <span class="profile-font content-font-size">Please enter your name.</span>
                        </div>
                      </div>
                      <!-- errors msg -->
                    </div>
                  </div>
                  <div class="row margin-balance-details">
                    <div class="col-md-5 balance-details">
                      <p class="bank-text profile-font sub-heading-font-size "> Bank Name</p>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="usr" name="bankName" [(ngModel)]="bankDetails.bankName" #bankName="ngModel" required>
                      <div *ngIf="bankName.invalid && (bankName.dirty || bankName.touched || customerDetaisForm.submitted )" class="error-msg">
                        <div *ngIf="bankName.errors.required">
                          <span class="profile-font content-font-size ">Please enter your bank name.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row margin-balance-details">
                    <div class="col-md-5 balance-details">
                      <p class="bank-text profile-font sub-heading-font-size "> Account No</p>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="usr" name="accountNumber" [(ngModel)]="bankDetails.accountNumber" #accountNumber="ngModel"
                        required>
                      <div *ngIf="accountNumber.invalid && (accountNumber.dirty || accountNumber.touched  || customerDetaisForm.submitted )" class="error-msg">
                        <div *ngIf="accountNumber.errors.required">
                          <span class="profile-font content-font-size ">Please enter your account number.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row margin-balance-details">
                    <div class="col-md-5 balance-details">
                      <p class="bank-text profile-font sub-heading-font-size">BVN Code</p>
                    </div>
                    <div class="col-md-7">
                      <input type="text" class="form-control" id="usr" name="bvnCode" [(ngModel)]="bankDetails.ifscCode" #bvnCode="ngModel" required>
                      <div *ngIf="bvnCode.invalid && (bvnCode.dirty  || bvnCode.touched || customerDetaisForm.submitted )" class="error-msg">
                        <div *ngIf="bvnCode.errors.required">
                          <span class="profile-font content-font-size">Please enter BVN Code.</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-successaddnew profile-font butoon-font" *ngIf=saveButton>Save</button>
                  </div>
                </div>
              </form>
            </div>
            <div *ngIf=addNewButton>
              <button type="reset" class="btn btn-successaddnew profile-font butoon-font" (click)="addNew();">Add new bank</button>
            </div>
          </div>
        </div>
      </section>
      <!-- bank-details -->
      <!--kyc detail-->
      <section id="content3" class="tab-content">
        <div class="container-fluid">
          <div class="row">
            <!-- for identity verification status start -->
            <div class=" col-lg-6 col-md-6 col-sm-6">
              <div class="kyc-col">
                <div class="kyc-details">
                  <p class="kyc-text profile-font sub-heading-font-size">national identity verification status:<span class="kyc-color"> {{nationalIdStatus}} </span></p>
                </div>
                <div class="img-block">
                  <img class="img-center img-responsive img-rounded " *ngIf="!nationalIdPdf" [src]="nationalIdKyc" height="35" width="300">
                  <img class="img-center img-responsive img-rounded " *ngIf="nationalIdPdf" src="assets/images/pdf-icon.png" height="35" width="300">
                </div>
                <div class="kyc-details">
                  <p class="kyc-text profile-font sub-heading-font-size"> Image of national id </p>
                </div>
                <div class="kyc-data">
                  <p clas="kyc-datatext profile-font content-font-size"> Please provide a picture of the image of your National ID</p>
                </div>
                <div class="">
                  <div class="id-input-details clearfix">
                    <div class="browse-button">
                      <label class="btn-bs-file btn btn-lg btn-success text-uppercase profile-font butoon-font">
                                 Browse
                                 <input class="from-newtext" type="file" #fileInput id="usr" (change)="readUrl($event)" accept="image/x-png,image/jpeg,application/pdf">
                                 </label>
                    </div>
                    <!-- <button type="button" class="btnbrowse" (click)="uploadKyc()">Upload Documents</button> -->
                  </div>
                </div>
                <div class="col-md-12 text-center kyc-image-formate">
                  <p class="kyc-imgeformat profile-font content-font-size">Only jpg, jpeg, png or pdf</p>
                </div>
              </div>
            </div>
            <!-- for identity verification status end -->
            <!-- for address proof verification start -->
            <div class=" col-lg-6 col-md-6 col-sm-6">
              <div class="kyc-col">
                <div class="kyc-details">
                  <p class="kyc-text profile-font sub-heading-font-size"> Address Proof Verification status:<span class="kyc-color profile-font"> {{addressIdStatus}} </span></p>
                </div>
                <div class="img-block">
                  <img class="img-center img-responsive img-rounded " *ngIf="!addressPdf" [src]="addressIdKyc" height="35" width="300">
                  <img class="img-center img-responsive img-rounded " *ngIf="addressPdf" src="assets/images/pdf-icon.png" height="35" width="300">
                </div>
                <div class="kyc-details">
                  <p class="kyc-text profile-font sub-heading-font-size"> Image of address proof </p>
                </div>
                <div class="kyc-data">
                  <p clas="kyc-datatext profile-font content-font-size "> Please provide a picture of the image of your Address Proof</p>
                </div>
                <div class="">
                  <div class="id-input-details clearfix">
                    <div class="browse-button">
                      <label class="btn-bs-file btn btn-lg btn-success text-uppercase profile-font butoon-font">
                                 Browse
                                 <input class="from-newtext" type="file" #fileInputAddress id="usr" (change)="readUrlAddress($event)" accept="image/x-png,image/jpeg,application/pdf">
                                 </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 text-center kyc-image-formate">
                  <p class="kyc-imgeformat profile-font content-font-size ">Only jpg, jpeg, png or pdf</p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 upload-kyc">
                <button type="button" class="btnbrowse text-uppercase profile-font butoon-font " (click)="uploadKyc()">Upload Documents</button>
              </div>
            </div>
            <!-- for address proof verification end -->
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{fullScreenBackdrop: true}"></ngx-loading>
<div bsModal #addPopup="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="col-md-12 createdepositmodal-header1">
          <img class="f2fimage" *ngIf="twoFactorAuthType=='NONE'" src="assets/images/1.png">
          <img class="f2fimage" *ngIf="twoFactorAuthType!='NONE'" src="assets/images/2.png">
          <p class="createdepositmodal-heading hedartext profile-font sub-heading-font-size">Enable Two Step
            <button type="button" class="close pull-right" (click)="addPopupClose()" aria-label="Close">
               <span aria-hidden="true">&times;</span>
               </button>
          </p>
        </div>
      </div>
      <div class="modal-body">
        <div *ngIf="twoFactorAuthType=='NONE'">
          <div id="myCarousel" class="carousel slide settingslide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
               <span class="glyphicon glyphicon-chevron-left"></span>
               <span class="sr-only profile-font butoon-font ">Previous</span>
               </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
               <span class="glyphicon glyphicon-chevron-right"></span>
               <span class="sr-only profile-font butoon-font ">Next</span>
               </a>
            <div class="carousel-inner">
              <div class="item active">
                <form name="form" class="authimage">
                  <div class="flex-column pointer profile-font sub-heading-font-size ">
                    <a (click)="openTwoFaVerification('GOOGLE_AUTHENTICATOR')">
                      <div><img width="55" src="assets/images/padlock.png"></div>
                      <br> USE GOOGLE AUTHENTICATION
                    </a>
                  </div>
                </form>
              </div>
              <div class="item">
                <form name="form" class="authimage">
                  <div class="flex-column pointer profile-font sub-heading-font-size ">
                    <a (click)="openTwoFaVerification('MOBILE')">
                      <div><img width="86" src="assets/images/mobile-phone-outline.png"></div>
                      <br> USE MOBILE
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <button type="button" class="modal-buttn profile-font butoon-font " (click)="addPopupClose()">Cancel</button>
        </div>
        <div *ngIf="twoFactorAuthType=='GOOGLE_AUTHENTICATOR'">
          <form #googleAuthForm=ngForm (submit)="verifySecret(googleAuthForm)">
            <div class="flex-column pointer">
              <div class="authimage_style"><img width="150" [src]="qrCodeFileName"></div>
            </div>
            <div>
              <p class="popup-text profile-font content-font-size ">Scan this QR code with your Google Authenticator app on your mobile phone (download for iOS or Android). Once
                scanned you will be presented with a random 6 digit number. Enter that number below to finish the setup process.
              </p>
            </div>
            <input type="texts" class="from-newtext" name="secret" [(ngModel)]="secret" #gsecret="ngModel" minlength="6" maxlength="6"
              id="usr" required onlynumber>
            <span *ngIf="gsecret.invalid && googleAuthForm.submitted">
            <span class="text-danger profile-font content-font-size" *ngIf="gsecret.errors.required">Please enter secret code</span>
            <span class="text-danger profile-font content-font-size " *ngIf="gsecret.errors.minlength">Invalid secret code</span><br>
            </span>
            <button class="modal-buttn profile-font butoon-font " type="submit">Enable</button>
            <button class="modal-buttn profile-font butoon-font" type="button" (click)="openTwoFaVerification('NONE')">Back</button>
          </form>
        </div>
        <div *ngIf="twoFactorAuthType=='MOBILE'">
          <div class="flex-column pointer">
            <div class="profile-font content-font-size">
              <p>Use your mobile phone to receive a one-time-password after a login attempt.</p>
              <br>
            </div>
          </div>
          <p class="icon-name profile-font content-font-size">{{varificationName}}</p>
          <div *ngIf="isMobileVerified">
            <p *ngIf="!isMobileEdit" class="text-icon profile-font content-font-size">{{mobileNumber}}</p>
          </div>
          <div *ngIf="!isMobileVerified">
            <form *ngIf="isMobileEdit" #mobileForm=ngForm (submit)="saveMobile(mobileForm)">
              <select class="from-newtext profile-font" name="country" [(ngModel)]="country" (ngModelChange)="getStatesByCountryId($event)"
                #cty="ngModel" id="usred">
               <option [disabled]="true" [selected]="true" class="sub-heading-font-size">Choose Country</option>
               <option [ngValue]="country.name" *ngFor="let country of countries" class="content-font-size">{{country.name}}</option>
               </select>
              <span class="text-danger profile-font" *ngIf="countryError">Please choose country</span><br>
              <input type="text" name="CountryCode" [(ngModel)]="countryCode" #CountryCode="ngModel" id="usr1ed" required onlynumber disabled>
              <input type="text" name="mobileNumber" [(ngModel)]="mobileNumber" #number="ngModel" id="usred" maxlength="10" required onlynumber>
              <span *ngIf="number.invalid && mobileForm.submitted"><br>
               <span class="text-danger profile-font " *ngIf="number.errors.required" class="content-font-size">Please enter mobile number</span>
              </span>
              <br>
              <button type="submit" class="btn btn-successsavemobile profile-font butoon-font ">Save Mobile Number</button>
              <button type="submit" class="btn btn-back profile-font butoon-font " (click)="backAuth()">Back</button>
            </form>
            <form *ngIf="isOtpEdit" #otpForm=ngForm (submit)="verifyOtp(otpForm)">
              <input type="text" name="otp" [(ngModel)]="otp" #otpField="ngModel" id="usr" required onlynumber>
              <span *ngIf="otpField.invalid && otpForm.submitted">
               <span class="text-danger profile-font " *ngIf="otpField.errors.required" class="content-font-size">Please enter otp</span>
              </span><br>
              <button type="submit" class="btn btn-successsave-verify profile-font butoon-font">Verify Otp</button>
              <div class="otp profile-font ">
                <a (click)="reSendOtp()">Resend Otp</a>
              </div>
            </form>
          </div>
          <button class="enablebtn profile-font butoon-font " *ngIf="isMobileVerified" type="button" (click)="set2faToMobile()">Enable</button>
          <button class="enablebtn profile-font butoon-font " *ngIf="isMobileVerified" type="button" (click)="openTwoFaVerification('NONE')">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div bsModal #profilePicCropper="bs-modal" class="modal fade" tabindex="-1" role="dialog" [config]="{backdrop: 'static'}"
  aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header profile-font ">
        Crop Your image
        <button type="button" class="close pull-right" (click)="profilePicCropper.hide()" aria-label="Close">
         <span aria-hidden="true">&times;</span>
         </button>
      </div>
      <div class="modal-body">
        <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
        <br>
        <button class="uploadbtn profile-font butoon-font" (click)="uploadProfilePic()">Upload</button>
        <button class="uploadbtn profile-font butoon-font " (click)="profilePicCropper.hide()">Cancel</button>
      </div>
    </div>
  </div>
</div>
