.container-fluid {
    background: #f8f8f8;
  
}*/
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family:Lato;
	
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

.top-header {
    position: relative;
}
.head-icon {
    position: absolute;
    top: 23px;
    margin-left: 205px;
    /* display: inline-block; */
    color: white;
}
.header-text {
   position: absolute;
    bottom: 28%;
    left: 8%;
}
p.top-text{
    color: white;
    font-size: 23px;
    margin-left: 157px;
    position: absolute;
    top: 23px;
}


.tab_container {
    width: 90%;
    margin: 0 auto;
    padding-top: -11px;
    position: relative;
     margin-bottom: 48px;
    bottom: 34px;
    margin-left: 89px;
}
input, section {
  clear: both;
  padding-top: 20px;
  display: none;
}

label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 32%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #f0f0f0;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  /*padding: 20px;*/
  /*background:white;*/
  color: #999;
  
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label:active {
    transform: scale(1,1);
     
}
.tab_container [id^="tab"]:checked + label {
  border-bottom: 3px solid #DB2828;;
  background: #fff;
  border-top-left-radius: 5px;
   border-top-right-radius:5px
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #DB2828;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

p.text1 {
    margin-top: 76px;
    font-family: lato;
    font-size: 18px;
    color: black;
}
p.text2 {
    font-size: 26px;
    font-family: lato;
}
p.text3 {
    margin-top:10px ;
    font-family: lato;
    font-size: 18px;
    color: black;
}



a.btn.btn-dark-blue {
    width: 80%;
    padding: 8px;
    font-family: lato;
    font-size: 25px;
    font-weight: 600;
    color:#DB2828;
    border: 2px solid gray;
}
span.dolor {
    color: black;
}
p.text-title {
    position: absolute;
    top: 27px;
    font-size: 25px;
    font-weight: 600;
}
p.last-prof {
    font-size: 19px;
    font-weight: 600;
}
button.btn.btn-defaults {
    width: 186px;
    margin-left: 33px;
    color: white;
    background: #D42828;
    margin-bottom: 27px;
}
p.icon-name {
    font-size: 18px;
    color: black;
    margin-left: 2px;
}
.col-backgrnd {
   background: white;
    float: left;
    width: 105%;
    padding: 15px;
    height: 346px;
    margin: 0px -5px 0 -13px;
    border-radius: 4px;
}

.email-img 
{
   float:left;
   margin-right: 2px;
   }
   p.text-icon {
    font-size: 15px;
    margin-left: 3px;
}
.email-text
 {
    float: left;
    margin-left: 20px;
}
.profile-col {
    padding: 12px;
    background: white;
}
.btn-success:hover {
    color: #fff;
    background-color: #DB2828;
}
.btn-success {
    color: #fff;
    background-color: #DB2828;
    border-color: #DB2828;
    width: 111px;
    margin-left: 68px;
    padding: 9px;
}
/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  label span {
    display: none;
  }
  a.btn.btn-dark-blue {
    width: 80%;
    font-family: lato;
    font-size: 18px;
    font-weight: 600;
    color:#DB2828;;
    border: 2px solid gray;
}

  label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	/*transform: scale(0.9);*/
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}
.verify-col {
    background: #fff;
    margin: 20px -15px 0;
    padding: 15px;
}
.verify-col .email-part {
    float: left;
    width: 50%;
}
input#usr {
    display: block;
    padding: 6px;
    width: 217px;
    border-radius: -13px;
    border-radius: 8px;
    box-shadow: none;
    border: 2px solid #e2d8d8;
    outline: none;
}
p.col-id {
    font-size: 21px;
    padding: 4px;
}
.id-input-details .form-group, .id-input-details button {
    float: left;
    padding-right: 15px;
}
.prof-verify {
    /* padding: 20px; */
    background: white;
    margin: 20px -15px 0;
    padding: 15px;
    border-radius: 4px;
}
hr {
    margin-top: 20px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid #eee;
    margin-left: 97px;
    margin-right: 102px;
}
 p.bank-text {
    font-size: 18px;
}
.bank-backgrnd {
    padding: back;
    background: white;
    padding: 23px;
}
.bank-backgrnd.email-text {
    float: left;
    margin-left: 162px;
}


img.img-.bakprofile {
    width: 111px;
    margin-left: 147px;
}

p.bank-icon {
    margin-left: 92px;
}