@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
.container-fluid {
    background: #f8f8f8;
  
}*/
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family:Lato;
	
}

h1 {
	color: #ccc;
	text-align: center;
}

a {
  color: #ccc;
  text-decoration: none;
  outline: none;
}

.top-header {
    position: relative;
}
.head-icon {
    position: absolute;
    top: 172px;  

    margin-left: 254px;
    color: white;
    font-size: 20px;
}
.header-text {
   position: absolute;
    bottom: 28%;
    left: 8%;
}

p.top-text {
    color: white;
    font-size: 23px;
    margin-left: 262px;
    position: absolute;
    top: 138px;
}

.profile-email {
    position: absolute;
    top: 209px;
    margin-left: 258px;
    font-size: 22px;
    color: #FFFFFF;
    /* padding-top: 20px; */
}
.tab_container {
    width: 90%;
    margin: 0 auto;
    padding-top: -11px;
    position: relative;
     margin-bottom: 48px;
    bottom: 34px;
    margin-left: 89px;
}
input, section {
  clear: both;
  padding-top: 20px;
  display: none;
}

label {
  font-weight: 700;
  font-size: 18px;
  display: block;
  float: left;
  width: 32%;
  padding: 1.5em;
  color: #757575;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background:#FFFFFF;
  min-height: 130px;

}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
  /*padding: 20px;*/
  /*background:white;*/
  color: #999;
  
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}
.tab_container .tab-content h3  {
  text-align: center;
}

.tab_container [id^="tab"]:checked + label:active {
    transform: scale(1,1);
     
}
.tab_container [id^="tab"]:checked + label {
  border-bottom: 3px solid #DB2828;;
  background: #fff;
  border-top-left-radius: 5px;
   border-top-right-radius:5px;
    
    box-shadow: 0 0 9px #636363;
    transform: scale(1.1,1.1)
}

.tab_container [id^="tab"]:checked + label .fa {
  color: #DB2828;
}

label .fa {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}




<<<<<<< HEAD
.text-danger {
    color: #a94442;
    margin: 16px;
}
.sign-block {
     margin: 17px;
}
img.img-header {
    top: 0;
    left: 0;
    margin-left: 81px;
}

p.kyc-text {
    font-size: 17px;
    text-transform: uppercase;
    color: #747474;
    text-align: center;
    padding: 11px;
}
.kyc-col {
    background: #FFFFFF;
    padding: 20px;
}
.bank-backgrnds {
    background: #FFFFFF;
    padding: 70px;
}
=======
>>>>>>> 560722b8a64db96f97f598d7b462a475a84f6cd1
.custom-checkbox input[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
.custom-checkbox input[type="checkbox"]:not(:checked) + label,
.custom-checkbox input[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
  margin-bottom: 10px;
}

/* checkbox aspect */
.custom-checkbox input[type="checkbox"]:not(:checked) + label:before,
.custom-checkbox input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
.custom-checkbox input[type="checkbox"]:not(:checked) + label:after,
.custom-checkbox input[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .1em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
.custom-checkbox input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
.custom-checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
.custom-checkbox input[type="checkbox"]:disabled:not(:checked) + label:before,
.custom-checkbox input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
.label.custom-checkbox input[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
.custom-checkbox input[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
.custom-checkbox input[type="checkbox"]:checked:focus + label:before,
.custom-checkbox input[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px gray;
}

/* hover style just for information */
.custom-checkbox label:hover:before {
  border: 2px solid #D4D4D4!important;
}

a:focus, a:hover {
    color:#397FFF;
    text-decoration: underline;
}
a{
color:#397FFF;
text-decoration: none;
}

.label-shadow-none label {
    box-shadow: none !important;
    padding: 0 !important;
}
.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 209px;
}
.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    margin-left: 245px;
}

/*Media query*/
@media only screen and (max-width: 930px) {
  label span {
    font-size: 14px;
  }
  label .fa {
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {
  label span {
    display: none;
  }
  

  label .fa {
    font-size: 16px;
  }

  .tab_container {
    width: 98%;
  }
}

/*Content Animation*/
@keyframes fadeInScale {
  0% {
  	/*transform: scale(0.9);*/
  	opacity: 0;
  }
  
  100% {
  	transform: scale(1);
  	opacity: 1;
  }
}
<<<<<<< HEAD

.padding-label{
    padding: 0px;
}

.locate-details{
        cursor: pointer;
    color: #DB2828;
    font-size: 17px;
}
.margin-account-holder-name{
    margin-left: 65px;
}

.margin-account-numbaer{
    margin-left: 143px;
}
.margin-accountIfsc{
    margin-left: 147px;
}
.locate{
    color:#DB2828;
}

.customer-data{
    float: none;
    margin-left: 0px;
}
=======
/*profile section */
 .col-backgrnd {
    background:#FFFFFF; 
    float: left;
    width: 105%;
    height: 476px;
    margin: 0px -5px 0 -13px;
    border-radius: 4px;
    padding: 34px 3px 47px 43px;
}
p.text-title {
    position: absolute;
    top: 27px;
    font-size: 25px;
    font-weight: 500;
    color:#747474;
}
p.last-prof {
    font-size: 20px;
    margin: 18px;
}
.email-text{
    float: left;
    margin-left: 20px;
    padding: 2px;
    margin-bottom: 24px;
  }
  a.btn.btn-dark-blue {
    width: 80%;
    padding: 8px;
    font-family: lato;
    font-size: 25px;
    font-weight: 600;
    color:#fb162B;
    border: 1px solid #CACACA;
}
span.dolor {
    color: black;
}
.profile-col{
    background: #FFFFFF;
    padding: 18px 2px 27px 33px;
    border-radius: 5px;
    height: 476px;
}
.profile-button {
    float: right;
    margin-right:40px;
    padding-top: -2px;

}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #DB2828;
}

* 
p.text1 {
    margin-top: 76px;
    font-family: lato;
    font-size: 18px;
    color: black;
}
p.text2 {
    font-size: 22px;
    margin-bottom: 14px;
    color: #CDCDCD;
    font-weight: 400;
}
p.text3 {
    margin-top:10px ;
    font-size: 18px;
    color: black;
}
.email-img 
{
   float:left;
    
    margin-right: -15px;
    margin-top: 6px;
}
  
select#usr {
    border-radius: 5px;
    padding: 4px 13px;
    outline: none;
}
.prof-verify {
    /* padding: 20px; */
    background: white;
    margin: 20px -15px 0;
    padding: 15px;
    border-radius: 4px;
}
img.profile-img {
    height: 330px;
    width: 100%;

}
.profile-new-var {
    margin-top: 45px;
}
.verify-col {
    background: #fff;
    margin: 24px -15px 0;
    padding: 20px 2px 8px 29px;
}
.verify-col .email-part {
    float: left;
    width: 50%;
}
.email-part {
    width: 48%;
    float: left;
}

input#usr {
    display: block;
    padding: 2px 8px;
    width: 217px;
    border-radius: -13px;
    border-radius: 8px;
    box-shadow: none;
    border: 2px solid #e2d8d8;
    outline: none;

}
span#fileselector label.btn.btn-default {
    width: 154px;
    padding: 5px;
    background: #DB2828;
    border-color: #DB2828;
    color: white;
    font-size: 15px;
    min-height: 21px;
}
button.btn.btn-successsave {
    background: #DB2828;
    color: white;
    margin-right: 109px;
    margin-top: 30px;
}

hr {
    margin-top: 20px;
    margin-bottom: 24px;
    border: 0;
    border-top: 1px solid #eee;
    margin-left: 97px;
    margin-right: 102px;
}
 p.icon-name {
    font-size: 20px;
    color: #747474;
    margin-left: 2px;
    font-weight: 500;
}
p.text-icon {
    font-size: 15px;
    margin-left: 3px;
    color: #CDCDCD;
    font-size: 18px;
}


.btn-success:hover {
    color: #fff;
    background-color: #DB2828;
}


p.col-id {
    font-size: 19px;
    padding: 4px;
    color: #8a8787;
    font-weight: 600;
}
.id-input-details .form-group, .id-input-details button {
    float: left;
    padding-right: 15px;
}


button.btn.btn-defaults {
    width: 186px;
    margin-left: 494px;
    color: #FFFFFF;
    background: #D42828;
    margin-bottom: 27px;
}
/*.custom-data {
    border-right: 1px solid #ccc;
}
*/

.text-danger {
    color: #a94442;
    margin: 16px;
}
.sign-block {
     margin: 17px;
}
img.img-header {
    top: 0;
    left: 0;
    margin-left: 81px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #D42828;
}
/*bank details section */
.bank-backgrnds {
    background: white;
    padding: 26px;
}
p.bank-icon {
    margin-left: 92px;
    color: #D4D4D4;
    font-size: 16px;
}
p.bank-text {
    font-size: 18px;
    color:#747474;
}
.bank-backgrnd {
    padding: back;
    background: white;
    padding: 23px;
}
.bank-backgrnd.email-text {
    float: left;
    margin-left: 162px;
}
button.btn.btn-successaddnew {
    margin-left: 485px;
    padding: 10px;
    width: 167px;
    margin-top: 28px;
    background: #DB2828;
    color: #FFFFFF;
    text-transform: uppercase;
}
button.btn.btn-successaddnew {
    margin-left: 485px;
    padding: 10px;
    width: 167px;
    margin-top: 28px;
    background: #DB2828;
    color: #FFFFFF;
    text-transform: uppercase;
}
/*kyc section */
p.kyc-text {
    font-size: 17px;
    text-transform: uppercase;
    color: #747474;
    text-align: center;
    padding: 11px;
}
.kyc-col {
    background: #FFFFFF;
    padding: 20px;
}
.kyc-input {
    margin-left: 359px;
    padding: 6px;
}
img.img-.bakprofile {
    width: 114px;
    margin-left: 147px;
}
.btn-success:hover {
    color: #fff;
    background-color: #DB2828;
}
.btn-success {
    color: #fff;
    background-color: #DB2828;
    border-color: #DB2828;
    width: 111px;
    margin-left: 68px;
    padding: 9px;
}
img.img-center {
    margin: 0a;
    margin: 0 auto;
    display: block;
}
a.btn.btn-dark-blue {
    width: 87%;
    padding: 5px;
    font-family: lato;
    font-size: 18px;
    font-weight: 600;
    color:#fB162B;
    border: 1px solid #CACACA;
    text-decoration: none;
    
    }
span.kyc-color {
    color: #fB162B;
}
.kyc-data {
    text-align: center;
    font-size: 18px;}
    
>>>>>>> 560722b8a64db96f97f598d7b462a475a84f6cd1
