/* fontsize and font-family */

.main {
    background: #eee;
    padding: 40px 0;
}

.chart-margin{
    margin-top: 24px;
}

.boxShadow-card{
          box-shadow: 1px 1px 3px -2px #644C47;
}

.small-box.bg-green {
    background: #fff;
    padding: 20px;
    margin: 17px;
    border-radius: 5px;
}

.small-box.bg-aqua {
    background: #fff;
    padding: 20px;
    margin: 17px;
    border-radius: 8px;
}

.inner {
    text-align: center;
}

.small-box.bg-yellow {
    background: #fff;
    padding: 20px;
    margin: 17px;
    border-radius: 8px;
}

p.text-black {
    text-transform: uppercase;
    color: gray;
}

.inner h1 {
    text-align: center;
    color: gray;
}

.new-img {
    padding: 8px 17px;
    background: #DB2828;
    width: 102px;
    border-radius: 5px;
    position: absolute;
    margin-left: 31px;
   
}

.new-img1 {
    padding: 8px 17px;
    background: #28DBC8;
    width: 102px;
    border-radius: 7px;
    position: absolute;
    margin-left: 31px;
   
}

.new-img2 {
    padding: 8px 17px;
    background: #28DB9E;
    width: 102px;
    border-radius: 7px;
    position: absolute;
    margin-left: 31px;
  
}

.chart-margin {
    margin-top: 20px;
}


/*start media for mobile device*/

@media screen and (min-width: 320px) and (max-width: 767px) {
    .inner h1 {
        text-align: center;
        color: gray;
        padding-left: 41px;
    }
    hr {
        margin-top: 35px;
        border: 0;
        border-top: 1px solid #eee;
    }
}