<!--start content-header-->
<div class="main">
<div class="container">
   <div class="row">
        <div class="col-md-4 ">
          <div class="new-img">
            <img src="assets/images/total-sales-icons.png"  class="dashbord-img">
            </div>
         <div class="small-box bg-aqua">
            <div class="inner">
              <h1> 451</h1>
              <hr>
              <p class="text-black">Total no of trading</p>
            </div>
         </div>
        </div>
        <!-- ./col -->
        <div class="col-md-4">
          <div class="new-img1">
           <img src="assets/images/total_buy_png.png" class="dashbord-img">
            </div>
          <div class="small-box bg-green">
            <div class="inner">
              <h1> 401</h1>
              <hr>
             <p class="text-black">Total no of buy</p>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-md-4">
           <div class="new-img2">
          <img src="assets/images/total_no_sell.png"  class="dashbord-img">
            </div>
         <div class="small-box bg-yellow">
            <div class="inner">
              <h1>50</h1>
              <hr>
               <p class="text-black">Total no of sell</p>
            </div>
          </div>
        </div>
        </div>
      </div>
       <div class="container">
        <div class="graph-col">
          <div class="col-xs-12">
         <chart [options]="options"></chart>
      </div>
       </div>
        </div>
      </div>
