

.mydp .selectiongroup {
    position: relative;
    display: table;
    border: none;
    border-spacing: 0;
    background-color: #FFF;
    width: 43px;
    outline: none;
}

.mydp, .mydp .headertodaybtn, .mydp .selection, .mydp .selectiongroup, .mydp .selector {
    
     outline: none;
     border: none;
}
.datepciker-history .mydp input,.datepciker-history .btnclear.btnclearenabled .mydp, .mydp .headertodaybtn {
    border: transparent;
    display: none;
    border: none;
}
