/* You can add global styles to this file, and also import other style files */
chart
{
    display: block;
}

/*@font-face {
    font-family: "Lato-Regular";
    src: url(".assets/font/Lato-Regular.ttf");
}*/