 /*You can add global styles to this file, and also import other style files */
chart
{
    display: block;
}

.ng2-imgcrop canvas {
    width: 100% !important;
}



@font-face{
    font-family: Lato-Regular-font;
    src:url("/assets/font/Lato-Regular.ttf");
}

body{

     font-family: Lato-Regular-font;
}

.main_heading{
    font-size: 20px;

}

.sub_heading{
    font-size: 13px;
}

.content_text{
    font-size: 10px;
}




