<div class="container image-width " *ngIf="beforeLogin">
   <div class="row image-row-margin top-bg-image">
      <div class="col-md-12 text-align-center padding-text-image">
         <!-- <div class="col-md-12"> -->
         <p class="text-capitalize want-text">want Better Price ?</p>
         <!-- </div> -->
         <!-- <div class="col-md-12"> -->
         <button class="craete-advertisement-button">Create Advertisement</button>
         <!-- </div> -->
      </div>
   </div>
   <div class="text-align-center trade-now">
      <span class="border-bot order-text">Trade Now</span>
   </div>
</div>
<!-- for images -->
<div class="container container-padding ">
   <div class="row tradeNow-background-img">
      <div class="col-md-6 exchange-border-right ">
         <h2>EXCHANGE PAIR</h2>
         <div class="row">
            <div class="col-md-5 tab-margin">
               <div class="exchange-pair-text">ETH/BTC</div>
            </div>
            <div class="col-md-8  trade-border trade-margin table-bg-color">
               <div class="row">
                  <div class="col-md-12  trade-border-heading trade-heading-center heading-font trade-in-part">
                     <span>TRADE IN ETH/BTC </span>
                  </div>
                     <div class="col-md-12 total-currency-message">
                     <p>You have 1.025 BTC. </p>
                  </div>
                  <div class="col-md-12 trade-drop-down trade-drop-down-margin">
                     <select class="trade-dropdown" [(ngModel)]="setTradingValue" (ngModelChange)="setTradeValue(setTradingValue)">
                     <option [value]="tv.valueType" *ngFor="let tv of tradeValue" >{{tv.valueType}}</option>
                     </select>
                  </div>
                  <div *ngIf="isMarket">
                  <div class="col-md-12 trade-field">
                     <div class="col-md-5">
                        <label for="email">Amount (in BTC)</label>
                     </div>

                     <div class="col-md-7">
                        <input type="email" class="form-control" [(ngModel)]="order.volume" id="email">
                     </div>
                  </div>
                   <div class="col-md-12 trade-field">
                     <div class="col-md-5">
                        <label for="email">Price (in ETH)</label>
                     </div>

                     <div class="col-md-7">
                        <input type="amount" class="form-control" title="Equivalent ETH price for this order" [(ngModel)]="order.price" id="amount" name="amount" >
                        
                     </div>

                  </div>
                    <div class="col-md-12 total-coin">
                  <p>Equivalent ETH price for this order</p>
                </div>
                    <div class="col-md-12 trade-field">
                      <hr>
                 
                   <p>Fee : 0%</p>
                </div>
                  <!-- <div>

                     <div class="col-md-12 trade-field">
                        <div class="col-md-4">
                           <label for="email">Total </label>
                        </div>
                        <div class="col-md-8">
                           <input type="email" class="form-control" id="email">
                        </div>
                     </div>
                  </div> -->
                  <div class="col-md-12 trade-field">
                     <div class="col-md-6  buy-button-left">
                        <button class="trade-button-buy " (click)="createOrder('BUY')">BUY</button>
                     </div>
                     <div class="col-md-6  sell-button-right">
                        <button class="trade-button-sell " (click)="createOrder('SELL')">SELL</button>
                     </div>
                  </div>
                </div>
                <div *ngIf="!isMarket">
                <div class="col-md-12 trade-field">
                   <div class="col-md-5">
                      <label for="amount">Amount (in BTC)</label>
                   </div>

                   <div class="col-md-7">
                      <input type="text" class="form-control" id="email" [(ngModel)]="order.volume" (ngModelChange)="oneBtc()">
                   </div>
                </div>
                 <div class="col-md-12 trade-field">
                   <div class="col-md-5">
                      <label for="price">Price (in ETH)</label>
                   </div>

                   <div class="col-md-7">
                      <input type="text" class="form-control" id="amount" title="Equivalent ETH price for this order " name="amount" [(ngModel)]="order.price" [disabled]=true >
                    
                    </div>
                     </div>
                   <div class="col-md-12 total-coin">
                  <p>Equivalent ETH price for this order</p>
                </div>
                   <div class="col-md-12 trade-field">
                   <hr>
                   <p>Fee : 0%</p>
                </div>
                
                <div class="col-md-12 trade-field">
                   <div class="col-md-6  buy-button-left">
                      <button class="trade-button-buy " (click)="createOrder('BUY')">BUY</button>
                   </div>
                   <div class="col-md-6  sell-button-right">
                      <button class="trade-button-sell " (click)="createOrder('SELL')">SELL</button>
                   </div>
                </div>
              </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6 text-center">
         <div class="row">
            <div class="col-md-9 col-md-offset-3">
               <h2>MARKET</h2>
               <table class="table table-bordered market-margin table-responsive">
                  <thead class="heading">
                     <tr>
                        <th class="market-tab" (click)=isBtc()>BTC</th>
                        <th class="market-tab" (click)=isEth()>ETH</th>
                        <th class="market-tab" (click)=isBln()>BLN</th>
                        <th class="market-tab" (click)=isNgn()>NGN</th>
                     </tr>
                  </thead>
                  <thead class="table-bg-color">
                     <tr>
                        <th>Coin</th>
                        <th>Price</th>
                        <th>Name</th>
                        <th>Change</th>
                     </tr>
                  </thead>
                  <!-- for BTC -->
                  <tbody *ngIf=btc class="table-bg-color">
                     <tr>
                        <td>BTC</td>
                        <td>0.21355</td>
                        <td>BTC</td>
                        <td>BTC</td>
                     </tr>
                     <tr>
                        <td>BTC</td>
                        <td>0.21355</td>
                        <td>BTC</td>
                        <td>BTC</td>
                     </tr>
                     <tr>
                        <td>BTC</td>
                        <td>0.21355</td>
                        <td>BTC</td>
                        <td>BTC</td>
                     </tr>
                     <tr>
                        <td>BTC</td>
                        <td>0.21355</td>
                        <td>BTC</td>
                        <td>BTC</td>
                     </tr>
                     <tr>
                        <td>BTC</td>
                        <td>0.21355</td>
                        <td>BTC</td>
                        <td>BTC</td>
                     </tr>
                     <tr>
                        <td>BTC</td>
                        <td>0.21355</td>
                        <td>BTC</td>
                        <td>BTC</td>
                     </tr>
                  </tbody>
                  <!-- for ETH -->
                  <tbody *ngIf=eth class="table-bg-color">
                     <tr>
                        <td>ETH</td>
                        <td>0.21355</td>
                        <td>ETH</td>
                        <td>ETH</td>
                     </tr>
                     <tr>
                        <td>ETH</td>
                        <td>0.21355</td>
                        <td>ETH</td>
                        <td>ETH</td>
                     </tr>
                     <tr>
                        <td>ETH</td>
                        <td>0.21355</td>
                        <td>ETH</td>
                        <td>ETH</td>
                     </tr>
                     <tr>
                        <td>ETH</td>
                        <td>0.21355</td>
                        <td>ETH</td>
                        <td>ETH</td>
                     </tr>
                     <tr>
                        <td>ETH</td>
                        <td>0.21355</td>
                        <td>ETH</td>
                        <td>ETH</td>
                     </tr>
                     <tr>
                        <td>ETH</td>
                        <td>0.21355</td>
                        <td>ETH</td>
                        <td>ETH</td>
                     </tr>
                  </tbody>
                  <!-- for BLN -->
                  <tbody *ngIf=bln class="table-bg-color">
                     <tr>
                        <td>BLN</td>
                        <td>0.21355</td>
                        <td>BLN</td>
                        <td>BLN</td>
                     </tr>
                     <tr>
                        <td>BLN</td>
                        <td>0.21355</td>
                        <td>BLN</td>
                        <td>BLN</td>
                     </tr>
                     <tr>
                        <td>BLN</td>
                        <td>0.21355</td>
                        <td>BLN</td>
                        <td>BLN</td>
                     </tr>
                     <tr>
                        <td>BLN</td>
                        <td>0.21355</td>
                        <td>BLN</td>
                        <td>BLN</td>
                     </tr>
                     <tr>
                        <td>BLN</td>
                        <td>0.21355</td>
                        <td>BLN</td>
                        <td>BLN</td>
                     </tr>
                     <tr>
                        <td>BLN</td>
                        <td>0.21355</td>
                        <td>BLN</td>
                        <td>BLN</td>
                     </tr>
                  </tbody>
                  <!-- for NGN -->
                  <tbody *ngIf=ngn class="table-bg-color">
                     <tr>
                        <td>NGN</td>
                        <td>0.21355</td>
                        <td>NGN</td>
                        <td>NGN</td>
                     </tr>
                     <tr>
                        <td>NGN</td>
                        <td>0.21355</td>
                        <td>NGN</td>
                        <td>NGN</td>
                     </tr>
                     <tr>
                        <td>NGN</td>
                        <td>0.21355</td>
                        <td>NGN</td>
                        <td>NGN</td>
                     </tr>
                     <tr>
                        <td>NGN</td>
                        <td>0.21355</td>
                        <td>NGN</td>
                        <td>NGN</td>
                     </tr>
                     <tr>
                        <td>NGN</td>
                        <td>0.21355</td>
                        <td>NGN</td>
                        <td>NGN</td>
                     </tr>
                     <tr>
                        <td>NGN</td>
                        <td>0.21355</td>
                        <td>NGN</td>
                        <td>NGN</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>
   <!-- for drop-down -->
   <!-- before login div -->
   <div class="row">
      <div class="col-md-12 signin-or-create-account" *ngIf=beforeLogin>
         <span class="signin-for-tradenow" routerLink="/login">Sign In</span> or <span class="signin-for-tradenow" routerLink="/sign-up">Create New Account</span>      to start Trading
      </div>
   </div>
   <!-- before login div -->
   <!-- order field -->
   <div class="row">
      <div class="col-md-12 order pad-top pad-order ">
         <div class="">
            <span class="border-bot order-text">ORDERS</span>
         </div>
         <div class="row">
            <div class="col-md-6 padding-to-all padding-buy-button trade-width">
               <div class="buy-orders">
                  <span>BUY ORDERS</span>
               </div>
               <!-- table 1 -->
                <div class="table-responsive">
               <table class=" table table-striped table-color ">
                  <thead>
                     <tr>
                        <th>Price</th>
                        <th>ETH</th>
                        <th>BTC</th>
                        <th>Total BTC</th>
                     </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let buyOrder of buyOrderList">
                    <td>{{buyOrder.price}}</td>
                    <td>{{buyOrder.volume * buyOrder.price}}</td>
                    <td>{{buyOrder.volume}}</td>
                    <td>{{buyOrder.totalVolume}}</td>
                  </tbody>
               </table>
            </div>
            </div>
            <!-- test -->
            <!-- test -->
            <!-- table1 -->
            <div class="col-md-4 col-md-offset-2 padding-to-all padding-buy-button trade-width">
               <div class="sell-orders">
                  <span>SELL ORDERS</span>
               </div>
               <!-- table 2-->
               <div class="table-responsive">
                  <table class="table table-striped table-color">
                     <thead>
                        <tr>
                           <th>Total BTC</th>
                           <th>BTC</th>
                           <th>ETH</th>
                           <th>Price</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let sellOrder of sellOrderList">
                        <td>{{sellOrder.totalVolume}}</td>
                        <td>{{sellOrder.volume}}</td>
                        <td>{{sellOrder.volume * sellOrder.price}}</td>
                        <td>{{sellOrder.price}}</td>
                      </tr>
                     </tbody>
                  </table>
               </div>
               <!-- table 2-->
               <!-- <div class="col-md-12 pagination-section">
                  <ul class="pagination">
                     <li><a href="#">View More ...</a></li>

                   </ul>
                  </div> -->
            </div>
         </div>
      </div>
   </div>
   <!-- order field -->
   <div class="row">
      <div class="col-md-12">
         <div class="row">
            <div class="col-md-6 text-align-right">
               <h2>Want Better Price ?</h2>
            </div>
            <div class="col-md-6">
               <button type="submit" name="createAdvertisement" class="create-advertisement-button">Create Advertisement</button>
            </div>
         </div>
      </div>
   </div>
   <!-- order field -->
   <!-- BTC Exchange -->
   <div class="row">
      <div class="col-md-12 text-align-center btc-exchange">
         <span class="border-bot order-text">BTC EXCHANGE</span>
         <chart [options]="options"></chart>
      </div>
   </div>
   <!-- BTC Exchange -->
</div>
