<div class="container container-padding">
  <div class="row">
    <div class="col-md-12 exchange-border-right">
      <h2>EXCHANGE PAIR</h2>
      <div class="row">
        <div class="col-md-2">
          <div class="exchange-pair-text">BTC/ETH</div>
        </div>
        <div class="col-md-2">
          <div class="exchange-pair-text-start">BTC/BLN</div>
        </div>
        <div class="col-md-2">
          <div class="exchange-pair-text-start">ETH/BLN</div>
        </div>
        <div class="col-md-2">
          <div class="exchange-pair-text-start">BLN/NGN</div>
        </div>
        <div class="col-md-2">
          <div class="exchange-pair-text-start">BLN/PHN</div>
        </div>
        <div class="col-md-2 ">
          <div class="exchange-pair-text-start">BLN/PRN</div>
        </div>
      </div>
    </div>
    <!-- for drop-down -->
    <div class="row ">
      <div class="col-md-6 padding-top-dropdown">
        <div class="margin-left">
          <select class="drop-down">
  <option value="volvo">BUY ETH</option>
  </select>
        </div>
        <!-- <div class="row"> -->
          <div class="background-color">
            <div class="col-md-12 text-align-buy background-properties">
              <div class="row">
                <div class="col-md-4 pad-top">
                  <span class="price">Price</span>
                </div>
                <div class="col-md-4 pad-top">
                  <span>0.25147885365</span>
                </div>
                <div class="col-md-4 pad-top">
                  <span class="btc">BTC</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pad-top">
                  <span class="price">Amount</span>
                </div>
                <div class="col-md-4 pad-top">
                  1
                </div>
                <div class="col-md-4 pad-top">
                  <span class="btc">ETH</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pad-top">
                  <span class="price">Total</span>
                </div>
                <div class="col-md-4 pad-top">
                  0.98147885365
                </div>
                <div class="col-md-4 pad-top">
                  <span class="btc">BTC</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pad-top padding-fee">
                  <span class="fee-color">Fee:</span><span>0.21/0.56%</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-align-center ">
                  <button type="submit" name="buy" class="buy-button">BUY</button>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->













      </div>
      <div class="col-md-6 padding-top-dropdown ">
        <div class="margin-left">
          <select class="drop-down">
  <option value="volvo">SELL ETH</option>
</select>
        </div>  <div class="background-color">
            <div class="col-md-12 text-align-buy background-properties">
              <div class="row">
                <div class="col-md-4 pad-top">
                  <span class="price">Price</span>
                </div>
                <div class="col-md-4 pad-top">
                  <span>0.25147885365</span>
                </div>
                <div class="col-md-4 pad-top">
                  <span class="btc">BTC</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pad-top">
                  <span class="price">Amount</span>
                </div>
                <div class="col-md-4 pad-top">
                  1
                </div>
                <div class="col-md-4 pad-top">
                  <span class="btc">ETH</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pad-top">
                  <span class="price">Total</span>
                </div>
                <div class="col-md-4 pad-top">
                  0.98147885365
                </div>
                <div class="col-md-4 pad-top">
                  <span class="btc">BTC</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 pad-top padding-fee">
                  <span class="fee-color">Fee:</span><span>0.21/0.56%</span>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-align-center">
                  <button type="submit" name="buy" class="buy-button">SELL</button>
                </div>
              </div>
            </div>
          </div>













      </div>
    </div>
    <!-- for drop-down -->


    <!-- order field -->
    <div class="row">
      <div class="col-md-12 order pad-top pad-order ">
        <div class="">
          <h2 class="border-bot">ORDERS</h2>
        </div>
        <div class="row">
          <div class="col-md-6 padding-buy-button">
            <div class="buy-orders">
              <span>BUY ORDERS</span>
            </div>
            <!-- table 1 -->
            <table class="table table-striped table-color">
              <thead>
                <tr>
                  <th>Price</th>
                  <th>ETH</th>
                  <th>BTC</th>
                  <th>Sum(BTC)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                </tr>
                <tr>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                </tr>
                <tr>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                </tr>
                <tr>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- table1 -->



          <div class="col-md-6 padding-buy-button">
            <div class="sell-orders">
              <span>SELL ORDERS</span>
            </div>
            <!-- table 2-->
            <table class="table table-striped table-color">
              <thead>
                <tr>
                  <th>Price</th>
                  <th>ETH</th>
                  <th>BTC</th>
                  <th>Sum(BTC)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                </tr>
                <tr>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                </tr>
                <tr>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                </tr>
                <tr>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                  <td>0.3152478555</td>
                </tr>
              </tbody>
            </table>
            <!-- table 2-->
          </div>
        </div>
      </div>
    </div>
    <!-- order field -->
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 text-align-right">
            <h2>Want Better Price ?</h2>
          </div>
          <div class="col-md-6">
            <button type="submit" name="createAdvertisement" class="create-advertisement-button">Create Advertisement</button>
          </div>
        </div>
      </div>
    </div>
    <!-- order field -->

    <!-- BTC Exchange -->
    <div class="row">
      <div class="col-md-12 text-align-center btc-exchange">
        <h2 class="border-bot">BTC EXCHANGE</h2>
        <chart [options]="options"></chart>




      </div>
    </div>
    <!-- BTC Exchange -->


  </div>
</div>
