<div class="container">
<div class="row">
<div class="col-md-12">
   ghjhjk
</div>
<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">BUYETC
            <span class="caret pull-right"></span></button>
            <ul class="dropdown-menu">
               <li><a href="#">HTML</a></li>
               <li><a href="#">CSS</a></li>
               <li><a href="#">JavaScript</a></li>
            </ul>
         </div>
     </div>
   </div>
</div>

<!--<form action="#">
   <div class="row">
      <label class="desc" id="title1" for="Field1">Full Name</label>
      &nbsp;
      <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
     </div>
        <div> 
      <label class="desc" id="title2" for="Field2"> Email </label>
      &nbsp;
        <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="8" tabindex="1">
     </div>
</form>
-->
<div class="row">
    <div class="col-md-6">
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label> &nbsp;
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
   </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

            
 </form>