@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}
.UserDetail .ui-tabview.ui-tabview-top>.ui-tabview-nav{
    padding: 0px;
}
.tab-inner{
    padding: 12px 12px;
    border: 1px solid #ccc;
    margin: -14px -12px;
    background: #f6f7f9;
}
.UserDetail .ui-tabview .ui-tabview-panel{
    padding:0px;
}
 .ui-tabview-panel{
    display: block;
    border: 1px solid #ccc;
    margin: 0px 2px;
}
.tab-inner1{
    border: 1px solid #ccc;
    padding: 26px 10px;
    background: #fff;
    overflow-x: auto;
}
.actionBtn{
    padding-bottom: 20px;
}